<style>
  .paynowCard {
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
  }

  .paynow-modal-body {
    max-height: 857px;
  }

  .paynow-modal-body .paynow-backdrop {
    height: 250px;
    width: 100%;
    background-color: #003F63;
    position: absolute;
  }

  .paynow-content {
    width: 80%;
    height: 88vh;
    margin: 20px 10% 0% 10%;
  }

  #payment-modal .cssp-payment-icon svg:hover,
  #payment-modal .cssp-easypay-icon svg:hover {
    transform: scale(1.1);
  }
  #payment-modal .modal-body .cssp-bank-payment {
    overflow-y: scroll;
    height: 400px;
  }
  #payment-modal .cssp-delete-icon {
    cursor: pointer;
  }
  #payment-modal .cssp-check-icon {
    color: #005485;
  }
  #payment-modal .cssp-delete-icon {
    color: #CC0029;
  }
  #payment-modal .cssp-bank-payment, #payment-modal .cssp-card-payment {
    padding: 0 10px 0px;
  }
  #payment-modal .btn {
    padding: 5px 10px !important;
  }
  #payment-modal td {
    vertical-align: middle !important;
  }

  @media screen and (max-width: 767px) {
    .table-responsive {
      border: 0px;
    }

    .col-sm-12{
      width: 100%;
    }
  }

  @media (max-width: 539px) {
    #payment-modal thead th:not(:first-child) {
      display: none;
    }
    #payment-modal td, #payment-modal th {
      display: table-cell;
    }
    #payment-modal td[data-th]:before {
      content: attr(data-th);
    }
    #payment-modal td:first-child {
      font-weight: bold;
    }
    #payment-modal .table-responsive {
      display: inline-table !important;
    }
    #payment-modal .table td, #payment-modal .table th {
      padding: 0.15rem !important;
      vertical-align: top !important;
      border-top: 1px solid #dee2e6 !important;
    }
    #payment-modal tr:nth-child(even) {
      background-color: #e9ecef;
    }
  }
  @media (min-width: 539px) {
    #payment-modal .table-responsive {
      display: inline-table;
    }
  }
  
  @media (min-width: 576px) {
    #rm-Modal .modal-dialog {
      max-width: none !important;
    }
  }
  
  .modal-fullscreen {
    padding: 0 !important;
  }
  .modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
  }
  
  .cardsIcons{
    padding: 0 30px 0 0;
    font-size: 15px;
  }
  .deleteIcon{
    font-size: 15px;
  }

</style>
<section id="payment-modal" aria-hidden="true" class="modal fade modal-form modal-form-details" data-backdrop="static" role="dialog" taxindex="-1" style="display: none;">
  <div class="modal-md modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title payment-options-title">Update Payment Options</h5>
        <button type="button" class="close" data-dismiss="modal" id="dismissModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body cssp-font-14">
        <div class="cssp-easypay-picker row" style="padding-bottom: 20px;">
          <div id="bankPayment" class="col-sm-6 text-center p-4" style="cursor: pointer;">
            <div class="text-center">
              <i class="fa fa-bank cssp-payment-icon" style="font-size:150px"></i>
            </div>
            <span class="link easypayLink">Bank</span>
          </div>
          <div id="cardPayment" class="col-sm-6 text-center p-4" style="cursor: pointer;">
            <div class="text-center">
              <i class="fa fa-credit-card-alt cssp-payment-icon" style="font-size:150px"></i>
            </div>
            <span class="link easypayLink">Card</span>
          </div>
        </div>

        <div class="cssp-bank-payment" style="display: none;">
          <iframe id="cssp-bank-selection-iframe" src="/api/?entityform=Bank Selection" frameborder="0" style="padding: 0px 20px 0px 20px; height: 390px" scrolling="no"></iframe>
        </div>

        <!-- Query to fetch the customerpaymentmethods associated to service location company -->
        {% fetchxml getCustomerPayment %}
        <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
          <entity name="msdyn_customerpaymentmethod">
            <attribute name="msdyn_name" />
            <attribute name="msdyn_company" />
            <attribute name="msdyn_customerpaymentmethodid" />
            <filter type="and"> 
              <condition attribute="msdyn_company" operator="eq" value="{{serviceLocation.cssp_company.id}}" />
            </filter>
          </entity>
        </fetch>
        {% endfetchxml %}
        {% if getCustomerPayment.results.entities.size > 0 %}
          {% assign paymentTypesResults = getCustomerPayment.results.entities %}
        {% endif %}

        {% capture paymentTypes %}
          {
          {% for row in paymentTypesResults %} 
            "{{ row['msdyn_name'] }}":"{{ row['msdyn_customerpaymentmethodid'] }}"
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
          }
        {% endcapture %}
        <input type="hidden" id="payment-types" value="{{ paymentTypes | url_encode | replace: '%20%20', '' | replace: '%0D', '' | replace: '%0A', ''}}">
        <!-- END -->

        <!-- Query to get latest selected payment method -->
        {% fetchxml selectedPayOptionFetchxml %}
        <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
          <entity name="cssp_servicelocation">
            <attribute name="cssp_paymentmethod" />
            <attribute name="cssp_servicelocationid" />
            <filter type="and"> 
              <condition attribute="cssp_servicelocationid" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
            </filter>
          </entity>
        </fetch>
        {% endfetchxml %}

        {% if selectedPayOptionFetchxml.results.entities.size > 0 %}
          {% assign selectedPayOption = selectedPayOptionFetchxml.results.entities[0] %}
        {% else %}
          {% assign selectedPayOption = '' %}
        {% endif %}
        <!-- END -->

        <div class="cssp-card-payment" style="display: none;">
          <div class="row mt-3" id="card-selection">
            <div class="col-sm-12">
              <loading-icon id="cssp-payment-methods-loading"></loading-icon>
              <div id="cssp-cards-wrapper"></div>
              <div id="cssp-addcard-wrapper"></div>
            </div>
          </div>
          <div class="row mt-3" id="confirmation-message">
            <div class="col-sm-12">
              Are you sure you want to change your EasyPay setup?
            </div>
          </div>
          <iframe id="cssp-card-selection-iframe" class="d-none" src="/api/?entityform=Card Selection&location={{serviceLocation.cssp_servicelocationid}}" frameborder="0"></iframe>
        </div>
      </div>
      <div class="modal-footer cssp-confirm-message-footer" style="display: none;">
        <button id="confirm-btn" type="button" data-dismiss="payment-modal" class="btn btn-primary">Confirm</button>
        <button id="cancel-btn" type="button" data-dismiss="payment-modal" class="btn btn-default">Cancel</button>
      </div>
      <div class="modal-footer cssp-bank-footer" style="display: none;">
        <button id="bankBack" type="button" class="btn btn-default">Back</button>
        <button id="bankCancel" type="button" class="btn btn-default CancelBankSelected" style="display:none;">Close</button>
        <button id="bankSave" type="button" class="btn btn-primary">Save</button>
      </div>
      <div class="modal-footer cssp-card-footer" style="display: none;">
        <button id="cardBack" type="button" class="btn btn-default">Back</button>
      </div>
    </div>
  </div>
</section>
<div class="modal fade modal-fullscreen" id="rm-Modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="max-height: 80px;">
        <img class="imgLogoRMModal" style="width: 250px; float: left;" hidden/>
        <button type="button" class="close btn btn-outlined closeRmModal" style="font-size: 21px; padding: 14px !important" data-dismiss="modal" id="dismissModal" aria-label="Close">
          <span aria-hidden="true">Back to Main</span>
        </button>
      </div>
      <div class="modal-body paynow-modal-body">
        <div class="paynow-backdrop"></div>
        <div class="paynow-content">
          <div class="paynowCard">
            <iframe id="iframeModalWindow" src="" name="iframe_modal" frameborder="0" style="height: 100%;width: 100%;overflow: hidden;"></iframe>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default closeRmModal" data-dismiss="modal">Back</button>
      </div> -->
    </div>
  </div>      
</div>
<script type="module">
import { LoadingService as Loading } from "/Loading.js";
import { HttpService as Http } from "/http.js";
import { UserService } from "/UserService.js";
import { Utils as Utils } from "/utils.js"

const PaymentModal = {
  paymentTypes: {
    685790000:"CreditCard",
    685790001:"Manual",
    685790002:"ACH"
  },
  paymentOptionsBankDictionary: {
      'sxp_account' : 'cssp-payment-account',
      'sxp_account_name' : 'cssp-payment-accountname',
      'sxp_account_entityname' : 'cssp-payment_entityname',
      'sxp_bankaccountiden' : 'cssp-payment-bankiden',
      'sxp_bankaccountnumber' : 'cssp-payment-accountnumber',
      'sxp_routingnumber' : 'cssp-payment-routingnumber',
      select: {
          'sxp_defaultbankaccount' : 'cssp-payment-defaultaccount',
          'sxp_routingnumbertype' : 'cssp-payment-routingnumbertype',
      }
  },
  paymentOptionsCardDictionary: {
      'cssp_paymentmethod': '',
      'cssp_paymentmethodtoken': '',
  },
  paymentOptionsBankServiceLocation: {
    'cssp_bankaccountnumber': 'cssp_bankaccountnumber'
   },
  
  updatePaymentOptions: (event) => {
    event ? event.preventDefault() : null;
    
    if ('{{selectedPayOption.cssp_paymentmethod}}' === ''){
      document.querySelector('.payment-options-title').innerText = 'Select Payment Option';        
    }

    $('.cssp-easypay-picker').show();
    $('.cssp-payment-picker').hide();
    $('#payment-modal').modal({ backdrop: 'static', keyboard: false, }).show();
  },
  CancelBankSelected: (event) => { 
      const interval = setInterval(() => {
        window.location.reload();  
      }, 1000);
  },
  getPaymentID: (selectedType) => {
    var paymentTypes = document.querySelector('#payment-types');
    paymentTypes = paymentTypes ? JSON.parse(decodeURIComponent(paymentTypes.value)) : {};
    
    return paymentTypes[selectedType];
  },
  savePaymentOptionsCard: (event) => { 
    Loading.show();

    const target = event.target;
    let parentRow = target;

    while (true) {
        parentRow = parentRow.parentElement;
        if (parentRow.tagName.toLowerCase() === 'tr') break;
    }

    const cardName = parentRow.querySelector('.cssp-card-name').value;
    const cardToken = parentRow.querySelector('.cssp-card-token').value;

    const paymentOptionsIframe = document.querySelector('#cssp-card-selection-iframe');

    // Clear Bank selection
    Object.keys(PaymentModal.paymentOptionsBankServiceLocation).forEach(iFrameField => {
      if((paymentOptionsIframe.contentDocument.querySelector('#' + iFrameField))) {
        paymentOptionsIframe.contentDocument.querySelector('#' + iFrameField).value = '';
      }
    });

    //paymentOptionsIframe.contentDocument.querySelector('#cssp_paymentoptions').value = 685790000;
    paymentOptionsIframe.contentDocument.querySelector('#cssp_paymentmethod').value = cardName;
    paymentOptionsIframe.contentDocument.querySelector('#cssp_paymentmethodtoken').value = cardToken;
    paymentOptionsIframe.contentDocument.querySelector('#cssp_customerpaymentmethod').value = PaymentModal.getPaymentID(PaymentModal.paymentTypes[685790000]);
    paymentOptionsIframe.contentDocument.querySelector('#UpdateButton').click();

    PaymentModal.waitForModal(paymentOptionsIframe);
  },
  savePaymentOptionsBank: (event) => {
    event.preventDefault();
    Loading.show();

    const paymentIframe = document.querySelector('#payment-modal').querySelector('#cssp-bank-selection-iframe');

    const paymentOptionsIframe = document.querySelector('#cssp-card-selection-iframe');

    // Clear Card selection
    Object.keys(PaymentModal.paymentOptionsCardDictionary).forEach(iFrameField => {
      if((paymentOptionsIframe.contentDocument.querySelector('#' + iFrameField))) {
        paymentOptionsIframe.contentDocument.querySelector('#' + iFrameField).value = '';
      }
    });

    // Set bank account name in bank account enity
    paymentIframe.contentDocument.querySelector('#sxp_name').value = paymentIframe.contentDocument.querySelector('#sxp_bankaccountiden').value;
    paymentIframe.contentDocument.querySelector('#InsertButton').click();

    // Save bank info on service location
    const bankAccountId = paymentIframe.contentDocument.querySelector('#sxp_bankaccountiden').value;
    const bankAccountNumber = paymentIframe.contentDocument.querySelector('#sxp_bankaccountnumber').value;
    
    if (bankAccountId && bankAccountNumber) {
      paymentOptionsIframe.contentDocument.querySelector('#cssp_bankaccountnumber').value = paymentIframe.contentDocument.querySelector('#sxp_bankaccountiden').value;
      paymentOptionsIframe.contentDocument.querySelector('#cssp_customerpaymentmethod').value = PaymentModal.getPaymentID(PaymentModal.paymentTypes[685790002]);
      paymentOptionsIframe.contentDocument.querySelector('#UpdateButton').click();
    }

    //const bankSave = document.querySelector('#bankSave');

    PaymentModal.waitForModal(paymentIframe);
  },
  bankSelected: () => {
      $('.cssp-easypay-picker').hide();
      $('.cssp-payment-picker').hide();
      $('.cssp-card-payment').hide();
      $('.cssp-bank-payment').show();
      $('.modal-footer.cssp-bank-footer').show();
      $('.modal-footer.cssp-card-footer').hide();
      $('#dismissModal').hide();
  },
  cardSelected: async () => {
    const userDetails = UserService.getUserDetails();
    const callRedMaple = userDetails['call-red-maple'];

    Loading.show();

    let responseText = await Http.post(callRedMaple, {
      "orderId": "",
      "invoiceId": "",
      "customerId": userDetails.id,
      "action":"gettok",
      "token": ""
    });

    let response = responseText ? JSON.parse(responseText) : {};
    //const chosenCard = document.querySelector("#pmt-method-field");
    if (response.tokens && response.tokens.length > 0) {
        //@ts-ignore
        document.querySelector('#cssp-cards-wrapper').innerHTML = `
        <div class="row mt-3" id="card-title">
            <div class="col-sm-12">
                Choose your preferred card
            </div>
        </div>
        <table class="table table-responsive" id="cardTable">
            <tbody>
            ${response.tokens.map((x) => `
                <tr>
                    <td>
                        ${x.cardType}
                        <input type="hidden" value="${x.cardType} - ${x.cardNumberSecured}" class="cssp-card-name"></input>
                        <input type="hidden" id="cardNumber" value="${x.id}" class="cssp-card-token"></input>
                    </td>
                    <td id="securedNumber">${x.cardNumberSecured}</td>
                    <td class="text-right">
                        ${"{{selectedPayOption.cssp_paymentmethod}}" === `${x.cardType} - ${x.cardNumberSecured}`
                            ? `<span class="glyphicon glyphicon-check cardsIcons"></span>
                              <span class="glyphicon glyphicon-trash disabled-cssp-delete-icon ml-3 deleteIcon"></span>`
                            : `<button type="button" class="btn btn-outlined setAsMain">Set as main</button>
                              <span class="glyphicon glyphicon-trash cssp-delete-icon ml-3 deleteIcon"></span>`
                          }
                    </td>
                </tr>
            `).join('')}
            </tbody>
        </table>
        `;
    }
    else {
        //@ts-ignore
        document.querySelector('#cssp-cards-wrapper').innerHTML = `
        <div class="row">
            <div class="col-sm-12">
                You have no cards on file for payment.
            </div>
        </div>
        `;
    }
    document.querySelector('#cssp-addcard-wrapper').innerHTML = `
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outlined addcard" style="margin-top:20px;margin-bottom:20px;">
                    Add card to file
                </button>
            </div>
        </div>
    `;

    const addcard = document.querySelector('.addcard');
    addcard.addEventListener('click', () => {
      PaymentModal.addCard();
    });

    const setAsMainCards = document.querySelectorAll('.setAsMain');
    if (setAsMainCards){
      setAsMainCards.forEach((card) => {
        card.addEventListener('click', () => {
          PaymentModal.savePaymentOptionsCard(event);
        });
      });
    }
    
    const deleteIcons = document.querySelectorAll('.cssp-delete-icon');
    if (deleteIcons) {
      deleteIcons.forEach((deleteIcon) => {
        if (response.tokens.length === 1){
          deleteIcon.disabled = true;
          deleteIcon.style.cursor = 'not-allowed';
        }
        else if (response.tokens.length > 1) {
          deleteIcon.addEventListener('click', () => {
            PaymentModal.removeCard(event);
          });
        }
        else {
          deleteIcon.disabled = false;
          deleteIcon.style.cursor = 'pointer';
        }
      });
    }

    document.querySelector('#cssp-payment-methods-loading')?.classList.add('d-none');
    document.querySelector('#cssp-cards-wrapper')?.classList.remove('d-none');
    document.querySelector('#card-selection').style.display = 'flex';
    document.querySelector('#confirmation-message').style.display = 'none';
    // $('#card-title').show();

    Loading.hide();

    $('.cssp-easypay-picker').hide();
    $('.cssp-payment-picker').hide();
    $('.cssp-bank-payment').hide();
    $('.cssp-card-payment').show();
    $('.modal-footer.cssp-card-footer').show();
    $('.modal-footer.cssp-bank-footer').hide();
    $('.modal-footer.cssp-confirm-message-footer').hide();
  },
  resetPaymentMethod: (close = false) => {
      $('.cssp-easypay-picker').show();
      $('.cssp-payment-picker').show();
      $('.cssp-card-payment').hide();
      $('.cssp-bank-payment').hide();
      $('.modal-footer.cssp-confirm-message-footer').hide();
      $('.modal-footer.cssp-bank-footer').hide();
      $('.modal-footer.cssp-card-footer').hide();
      const paymentIframe = document.querySelector('#cssp-bank-selection-iframe');
      paymentIframe.src=paymentIframe.src;
      paymentIframe.style.height = "450px";
      $('#dismissModal').show();
      // $('#card-title').show();

      if (close) {
          $('#payment-modal').modal('hide');
      }
  },
  addCard: async () => {
      Loading.show();
      const userDetails = UserService.getUserDetails();
      const uiUrl = userDetails['ui-url'];

      if (!uiUrl) {
          alert('Essential config records not created');
          return;
      }

      const addURL = uiUrl + '/createtoken/customer/' + userDetails.id;

      //const windowHandler = window.open(addURL)!;
      const rmiFrame = document.querySelector("#iframeModalWindow");
      rmiFrame.src = addURL;

      Loading.hide();

      var logoRMModal = document.querySelector('.imgLogoRMModal');
      logoRMModal.style.display = 'none';
      if ("{{logo['sc.cssp_logourl']}}") logoRMModal.src = "{{logo['sc.cssp_logourl']}}";
      else logoRMModal.src = "/logo"
      logoRMModal.style.display = 'block';

      $('#rm-Modal').modal({ backdrop: 'static', keyboard: false, }).show();
      const cancelBtn = document.querySelector('.closeRmModal');
      if (cancelBtn) {
        cancelBtn.addEventListener('click', (event) => {
          PaymentModal.cardSelected(event);
        });
      }


  },
  removeCard: async (event) => {
    event.preventDefault();
    const userDetails = UserService.getUserDetails();
    const callRedMaple = userDetails['call-red-maple'];

    Loading.show();

    const target = event.target;
    let parentRow = target;

    while (true) {
        parentRow = parentRow.parentElement;
        if (parentRow.tagName.toLowerCase() === 'tr') break;
    }
    
    const cardToken = parentRow.querySelector('.cssp-card-token').value;

    let responseText = await Http.post(callRedMaple, {
        "orderId": "",
        "invoiceId": "",
        "customerId": userDetails['id'],
        "action":"deltok",
        "token": `${cardToken}`
    });

    let response = responseText ? JSON.parse(responseText) : {};

    Loading.hide();

    if (response.isSuccess) {
      alert(response.message);;
    }
    else {
        alert('An error occurred:\n' + response.message);
        return;
    }

    PaymentModal.cardSelected();
  },
  waitForModalOld(iframe) {
      const interval = setTimeout(() => {
          const success = iframe.contentDocument.querySelector('.alert.alert-success');
          const danger = iframe.contentDocument.querySelector('.alert.alert-danger');
          if (!success && (!danger || danger.style.display == "none")) 
            {
              PaymentModal.waitForModal(iframe);
              return;
            }
          if(success)
          {
            iframe.style.height = iframe.style.height;
            window.parent.$('#bankSave').hide();
            window.parent.$('#bankCancel').show();
            window.parent.$('#bankBack').hide(); 
          }
          if(danger)
          {
            iframe.style.height = "550px";
          }
          Loading.hide();
      }, 100);
  },
  async waitForModal(iframe) {
    return new Promise((res, rej) => {
      const interval = setTimeout(() => {
            const success = iframe.contentDocument?.querySelector('.alert.alert-success');
            const danger = iframe.contentDocument?.querySelector('.alert.alert-danger');

            if (!success && (!danger || danger.style.display == "none")) {
              PaymentModal.waitForModal(iframe);
              return;
            }
          
            if(success) {
              success.style.display = 'none';
              iframe.style.height = "10px";
              debugger;
              var queryParameter = '';
              if (iframe.id.includes("bank-selection") || iframe.id.includes("card-selection")) queryParameter = "paymentSaved=true";

              if (location.href.includes("?"))
                window.location = location.href += "&" + queryParameter;
              else
                window.location = location.href += "?&" + queryParameter;
            }

            if (danger ){
              iframe.style.height = "550px";
              Loading.hide();
            }
        }, 100);
    });
  }
}

const PayOptions = document.querySelector('.payment-options');
if (PayOptions) {
  PayOptions.addEventListener('click', (event) => {
    PaymentModal.updatePaymentOptions(event);
  });
}

const bankPayment = document.querySelector('#bankPayment');
bankPayment.addEventListener('click', (event) => {
  PaymentModal.bankSelected(event);
});

const dismissModal = document.querySelector('#dismissModal');
dismissModal.addEventListener('click', (event) => {
  PaymentModal.resetPaymentMethod(true);
});

const cardPayment = document.querySelector('#cardPayment');
cardPayment.addEventListener('click', (event) => {
  PaymentModal.cardSelected(event);
});

const confirmbtn = document.querySelector('#confirm-btn');
confirmbtn.addEventListener('click', (event) => {
  PaymentModal.savePaymentOptionsCard(event);
});

const cancelPaybtn = document.querySelector('#bankCancel');
if (cancelPaybtn) {
  cancelPaybtn.addEventListener('click', (event) => {
    PaymentModal.CancelBankSelected(event);
  });
}

const bankBack = document.querySelector('#bankBack');
bankBack.addEventListener('click', (event) => {
  PaymentModal.resetPaymentMethod();
});

const bankSave = document.querySelector('#bankSave');
bankSave.addEventListener('click', (event) => {
  PaymentModal.savePaymentOptionsBank(event);
});

const cardBack = document.querySelector('#cardBack');
cardBack.addEventListener('click', (event) => {
  PaymentModal.resetPaymentMethod();
});

Utils.showToastr("paymentSaved");

</script>