{% fetchxml getProgramMUMLI %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cmhc_program">
      <attribute name="cmhc_name" />
      <attribute name="cmhc_programid" />
      <order attribute="cmhc_name" descending="false" />
      <filter type="and">
        <condition attribute="cmhc_name_en" operator="like" value="%MU MLI%" />
      </filter>
    </entity>
  </fetch>
{% endfetchxml %}
{% if getProgramMUMLI.results.entities.size > 0 %}
  {% assign programMuId = getProgramMUMLI.results.entities[0] %}
{% else %}
    {% assign programMuId = null %}
{% endif %}

{% if request.params['id'] %}
    {% assign applicationId = request.params['id'] %}
    {% fetchxml fetchApplications %}
        <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
            <entity name="cmhc_muapplication">
            <attribute name="cmhc_muapplicationid" />
            <attribute name="cmhc_totalunitssubmitted" />
            <attribute name="cmhc_totalrequestedloanamount" />
            <attribute name="cmhc_totalbedssubmitted" />
            <attribute name="cmhc_sheltermodel" />
            <attribute name="cmhc_requireddocreceiveddate" />
            <attribute name="cmhc_receiveddate" />
            <attribute name="cmhc_programid" />
            <attribute name="createdon" />
            <attribute name="cmhc_originatorlendercontactid" />
            <attribute name="cmhc_locationid" />
            <attribute name="cmhc_islongtermcare" />
            <attribute name="cmhc_isdocumentlanguage" />
            <attribute name="cmhc_islanguageofdocumentsprovided" />
            <attribute name="cmhc_eeandghglevelname" />
            <attribute name="cmhc_comments" />
            <attribute name="cmhc_loanpurpose" />
            <attribute name="cmhc_isaffordablerentalhousing" />
            <attribute name="cmhc_advancetype" />
            <attribute name="cmhc_accessibilitylevelname" />
            <order attribute="createdon" descending="true" />
            <filter type="and">
                <condition attribute="cmhc_programid" operator="eq" uiname="MU MLI" uitype="cmhc_program" value="{{ programMuId }}" />
                <condition attribute="cmhc_originatorlendercontactid" operator="eq" uiname="MU Admin" uitype="contact" value="{{ user.id }}" />
                <condition attribute="statecode" operator="eq" value="0" />
                <condition attribute="cmhc_muapplicationid" operator="eq" uiname="00000000" uitype="cmhc_muapplication" value="{{ applicationId }}" />
            </filter>
            </entity>
        </fetch>
    {% endfetchxml %}
    {% if fetchApplications.results.entities.size >= 1 %}
        {% assign application = fetchApplications.results.entities[0] %}
    {% else %}
        {% assign application = null %}
    {% endif %}
{% endif %}

<style>
    #msform {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        /* margin: 0 10%; */

        /*stacking fieldsets above each other*/
        position: relative;
    }

    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }

    #msform label {
        font-weight:normal;
    }

    /*headings*/
    #msform .fs-title,.fs-subtitle, #progressbar,#progressbar li, button {
        text-align: center;
    }

    .fs-title {
        font-size: 18px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #777;
        margin-bottom: 20px;
    }

    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        display: flex;
        justify-content: center;
    }

    #progressbar li {
        list-style-type: none;
        color: #0c0505;
        text-transform: uppercase;
        font-size: 9px;
        width: 25%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }

    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 25px;
        height: 24px;
        line-height: 26px;
        display: block;
        font-size: 12px;
        color: #333;
        background: white;
        border-radius: 25px;
        margin: 0 auto 10px auto;
    }

    /*progressbar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: rgb(229 229 229);
        position: absolute;
        left: -50%;
        top: 11px;
        z-index: -1; /*put it behind the numbers*/
    }

    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }

    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before, #progressbar li.active:after {
        background: #0056b3;
        color: white;
    }

</style>
<!-- MultiStep Form -->
<div class="row">
    <div class="col-sm-12">
        <form id="msform" class="form-group">
            <!-- progressbar -->
            <ul id="progressbar">
                <!-- fetch to query application ID for editting -->
                <li class="active">Initial Application Info</li>
                <li>MLI Flex Info</li>
                <!-- <li>Tax Information</li>
                <li>Period Information</li> -->
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Initial Application Info</h2>
                <h3 class="fs-subtitle">Tell us something more about your application</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="receivedDate" class="control-label">Received Date</label>
                            <input type="date" class="form-control" name="receivedDate" id="receivedDate" aria-describedby="receivedDate" value='{{ application.cmhc_receiveddate | date: "yyyy-MM-dd" }}'>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="loanPurpose" class="control-label">Application Purpose</label>
                            <select name="loanPurpose" class="form-control" id="loanPurpose" aria-describedby="loanPurpose">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="docReceivedDate" class="control-label">Doc Received Date</label>
                            <input type="date" name="docReceivedDate" id="docReceivedDate" class="form-control" value='{{ application.cmhc_requireddocreceiveddate | date: "yyyy-MM-dd" }}'>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="shelterModel" class="control-label">Shelter Model</label>
                            <select name="shelterModel" class="form-control" id="shelterModel" aria-describedby="shelterModel">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label for="languagePreference" class="control-label">Language of Preference</label>
                            <select name="languagePreference" class="form-control" id="languagePreference" aria-describedby="languagePreference">
                            </select>
                        </div>
                        <!-- <div class="col">
                            <div class="form-group required">
                                <label for="languagePreferenceenglish" class="control-label">Language of Preference &nbsp;&nbsp;</label>
                                <input class="form-check-input" type="radio" name="languagePreference" id="languagePreferenceenglish" value="">
                                <label class="form-check-label" for="languagePreferenceenglish"></label>
                                &nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="languagePreference" id="languagePreferencefrench" value="">
                                <label class="form-check-label" for="languagePreferencefrench"></label>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="languageOfDocs" class="control-label">Language of Documents</label>
                            <select name="languageOfDocs" class="form-control" id="languageOfDocs" aria-describedby="languageOfDocs">
                            </select>
                        </div>
                        <!-- <div class="col">
                            <div class="form-group">
                                <label for="languageOfDocs" class="control-label">Language of Documents &nbsp;&nbsp;</label>
                                <input class="form-check-input" type="radio" name="languageOfDocs" id="languageOfDocsenglish" value="">
                                <label class="form-check-label" for="languageOfDocsenglish"></label>
                                &nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="languageOfDocs" id="languageOfDocsfrench" value="">
                                <label class="form-check-label" for="languageOfDocsfrench"></label>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label for="affordableRentalHousing" class="control-label">Afordable Rental Housing</label>
                            <select name="affordableRentalHousing" class="form-control" id="affordableRentalHousing" aria-describedby="affordableRentalHousing">
                            </select>
                        </div>
                        <!-- <div class="col">
                            <div class="form-group required">
                                <label for="affordableRentalHousing" class="control-label">Afordable Rental Housing &nbsp;&nbsp;</label>
                                <input class="form-check-input" type="radio" name="affordableRentalHousing" id="languagePreferenceYes" value="">
                                <label class="form-check-label" for="languagePreferenceYes"></label>
                                &nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="affordableRentalHousing" id="languagePreferenceNo" value="">
                                <label class="form-check-label" for="languagePreferenceNo"></label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="longTermCare" class="control-label">Long Term Care</label>
                            <select name="longTermCare" class="form-control" id="longTermCare" aria-describedby="longTermCare">
                            </select>
                        </div>
                        <!-- <div class="col">
                            <div class="form-group">
                                <label for="longTermCare" class="control-label">Long Term Care &nbsp;&nbsp;</label>
                                <input class="form-check-input" type="radio" name="longTermCare" id="longTermCareYes" value="">
                                <label class="form-check-label" for="longTermCareYes"></label>
                                &nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="longTermCare" id="longTermCareNo" value="">
                                <label class="form-check-label" for="longTermCareNo"></label>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="advanceType" class="control-label">Advance Type</label>
                            <select name="advanceType" class="form-control" id="advanceType" aria-describedby="advanceType">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="totalunitsSubmitted" class="control-label">Total Units Submitted</label>
                            <input type="text" name="totalunitsSubmitted" class="form-control" 
                                id="totalunitsSubmitted" decimal-type="yes" aria-describedby="totalunitsSubmitted" value="{{ application.cmhc_totalunitssubmitted }}"
                            />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="totalBedsSubmitted" class="control-label">Total Beds Submitted</label>
                            <input type="text" name="totalBedsSubmitted" class="form-control" id="totalBedsSubmitted" 
                                decimal-type="yes" aria-describedby="totalBedsSubmitted" value="{{ application.cmhc_totalbedssubmitted }}"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="totalRequestedLoan" class="control-label">Total Requested Loan</label>
                            <input type="text" name="totalRequestedLoan" class="form-control" id="totalRequestedLoan" 
                                decimal-type="yes" aria-describedby="totalRequestedLoan" value="{{ application.cmhc_totalrequestedloanamount }}" 
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="comments" class="control-label">Additional Comments</label>
                            <input type="text" name="comments" class="form-control" id="comments" 
                                aria-describedby="comments" value="{{ application.cmhc_comments }}"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="pager">
                        <li><input type="button" name="next" class="next action-button" value="Next"/></li>
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">MLI Flex Info</h2>
                <h3 class="fs-subtitle">Additional info for your application</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group required">
                            <label for="loanamount" class="control-label">Loan Amount</label>
                            <input type="text" class="form-control" id="loanamount" aria-describedby="loanamount" value="{{ application.ava_loanamount }}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="pager">
                        <li><input type="button" name="previous" class="previous action-button-previous" value="Previous"/></li>
                        <li><input type="button" name="next" class="next action-button" value="Complete"/></li>
                    </ul>
                </div>
            </fieldset>
            <!--<fieldset>
                <h2 class="fs-title">Tax Information</h2>
                <h3 class="fs-subtitle">Provide tax information</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fieldgroup">
                            <input type="text" name="taxrate" id="taxrate" value="{{ application.ava_taxrate }}"/>
                            <label for="taxrate">Email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </div>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Period Information</h2>
                <h3 class="fs-subtitle">Enter period for Loan</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fieldgroup">
                            <select name="period" id="period">
                            </select>
                            <label for="period">Loan Period</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" class="next action-button" value="Complete"/>
                </div>
            </fieldset> -->
            <fieldset>
                <h2 class="fs-title">Success</h2>
                <h3 class="fs-subtitle"></h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fieldgroup">
                            <div class="alert alert-success" role="alert">
                                Your application was submitted!
                                You can follow up by <a href="/">listing your applications</a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="module">
    import { utils as utils } from '../utils.js';

    var urlApplications = '/_api/cmhc_muapplications';
    sessionStorage.setItem("applicationId", "{{ application.cmhc_muapplicationid }}");
    var errMessageDisplay = false;

    const applicationFields = {
        'receivedDate':'cmhc_receiveddate',
        'loanPurpose' : 'cmhc_loanpurpose',
        'docReceivedDate' : 'cmhc_requireddocreceiveddate',
        'shelterModel':'cmhc_sheltermodel',
        'languagePreference':'cmhc_isdocumentlanguage',
        'affordableRentalHousing':'cmhc_isaffordablerentalhousing',
        'languageOfDocs':'cmhc_islanguageofdocumentsprovided',
        'longTermCare':'cmhc_islongtermcare',
        'advanceType':'cmhc_advancetype',
        'totalunitsSubmitted':'cmhc_totalunitssubmitted',
        'totalBedsSubmitted':'cmhc_totalbedssubmitted',
        'totalRequestedLoan':'cmhc_totalrequestedloanamount',
        'comments':'cmhc_comments',
    };

    const shelterModel = {
        'Retirement Housing' : 0,
        'Shelter' : 758280000,
        'Single Room Occupancy' : 1,
        'Standard Rental Housing' : 2,
        'Student Housing':3,
        'Supportive Housing':4,
        'Transitional Housing':758280001,
    };
    
    const loanPurpose = {
        'Purchase' : 758280003,
        'Purchase with Improvements' : 758280008,
        'Refinance' : 758280005,
        'Top Up Financing' : 758280009,
        'Refinance Existing CMHC':758280010,
        'Refinance with Improvements':758280011,
        'RCFi - Conversion':758280012,
        'Construction Financing':758280001,
        'Completion Take-Out':758280004,
        'NHCF - New Construction':758280000,
        'NHCF - New Construction - Conversion':758280002,
        'NHCF - Repairs/Renewal':758280006,
        'NHCF - Repairs/Renewal - Conversion':758280007,
    };

    const advanceType = {
        '<=2' : 1,
        'Unlimited' : 2
    }

    const yesNo = {
        'Yes':true,
        'No': false
    }

    const language = {
        'English': true,
        'French': false
    }

    const application = {
        init: () => {
            application.setupDropDowns(shelterModel, '#shelterModel', '{{ application.cmhc_sheltermodel.value }}');
            application.setupDropDowns(loanPurpose, '#loanPurpose', '{{ application.cmhc_loanpurpose.value }}');
            application.setupDropDowns(advanceType, '#advanceType', '{{ application.cmhc_advancetype.value }}');
            application.setupDropDowns(language, '#languagePreference', '{{ application.cmhc_isdocumentlanguage.value }}');
            application.setupDropDowns(language, '#languageOfDocs', '{{ application.cmhc_islanguageofdocumentsprovided.value }}');            
            application.setupDropDowns(yesNo, '#affordableRentalHousing', '{{ application.cmhc_isaffordablerentalhousing.value }}');
            application.setupDropDowns(yesNo, '#longTermCare', '{{ application.cmhc_islongtermcare.value }}');
            
            // application.setupTwoOptions(language, 'input[name=languagePreference]', '{{ application.cmhc_isdocumentlanguage.value }}');
            // application.setupTwoOptions(language, 'input[name=languageOfDocs]', '{{ application.cmhc_islanguageofdocumentsprovided.value }}');            
            // application.setupTwoOptions(yesNo, 'input[name=affordableRentalHousing]', '{{ application.cmhc_isaffordablerentalhousing.value }}');
            // application.setupTwoOptions(yesNo, 'input[name=longTermCare]', '{{ application.cmhc_islongtermcare.value }}');

            // Event listeners for date field changes
            document.querySelectorAll('input[type=date]').forEach((dateField) => {
                dateField.addEventListener('change', (dateField) => {
                    console.log(dateField.value);
                });
            })

            // Add event Listeners to the next buttons
            document.querySelectorAll('.next').forEach((button) => {
                button.addEventListener('click', (btn) => {
                    application.onNextClick(btn);
                })
            });

            // Add event Listeners to the previous buttons
            document.querySelectorAll('.previous').forEach((button) => {
                button.addEventListener('click', (btn) => {
                    application.onPreviousClick(btn);
                })
            });

            // Create a call to open gates to acquire token and make future calls faster
            appAjax({
                type: "GET",
                url: "/_api/cmhc_muapplications?$select=_cmhc_programid_value&$top=1",
                contentType: "application/json"
            });

        },
        setupDropDowns: (optionSetVar, element, dropDownValue) => {
            var selectedOption = parseInt(dropDownValue);
            let optionSetField = document.querySelector(element);
            Object.keys(optionSetVar).forEach((key) => {
                var option = document.createElement('option');
                if (selectedOption && optionSetVar[key] === selectedOption)
                    option.selected = optionSetVar[key];
                option.value = optionSetVar[key];
                option.text = key;
                optionSetField.add(option);
            });

            if (dropDownValue === ''){
                optionSetField.selectedIndex = -1;
            }
        },
        // setupTwoOptions: (twoOptionVar, element, value) => {
        //     var radios = document.querySelectorAll(element);
        //     Object.keys(radios).forEach((key) => {

        //         if (value === ''){
        //             radios[key].value = key;
        //             radios[key].nextElementSibling.innerText = twoOptionVar[key];
        //         }
        //         else {
        //             radios[key].value = value;
        //             radios[key].nextElementSibling.innerText = twoOptionVar[value];
        //         }
        //     });
        // },
        onNextClick: (button) => {
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches
            let applicationId = sessionStorage.getItem("applicationId");

            if(animating) return false;
            animating = true;
            current_fs = button.target.closest('fieldset');
            next_fs = button.target.closest('fieldset').nextElementSibling;

            let isFormValid = application.validateForm(current_fs);
            if (isFormValid){
                // choose to create or update existing
                // if statement checking sessionStorage applicationId
                console.log(`index: ${$("fieldset").index(next_fs)}`);
                if($("fieldset").index(next_fs) === 1 && (applicationId === null || applicationId === ""))
                    application.createOnFirstStep(current_fs);
                else
                    application.updateOnNextSteps(current_fs);

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                
                //show the next fieldset
                $(next_fs).show(); 
                
                //hide the current fieldset with style
                $(current_fs).animate({opacity: 0}, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50)+"%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        $(current_fs).css({
                            'transform': 'scale('+scale+')',
                            'position': 'absolute'
                        });
                        $('.footer').css('position','fixed');
                        $(next_fs).css({'left': left, 'opacity': opacity});
                    }, 
                    duration: 800, 
                    complete: function(){
                        $(current_fs).hide();
                        animating = false;
                        $('.footer').css('position','');
                    }, 
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            }
        },
        validateForm: (current_fs) => {
            let isValid = true;
            current_fs.querySelectorAll('.required').forEach((child) => {
                child.childNodes.forEach((grandChild) => {
                    if (grandChild && (grandChild.value === '' || grandChild.value === null)){
                        grandChild.classList.toggle('shake');
                        grandChild.classList.add('required');
                        setTimeout(function() {
                            grandChild.classList.toggle('shake');
                        }, 300);
                        isValid = false;
                        grandChild.addEventListener('change', (grandChild) => {
                            grandChild.target.classList.remove('required');
                        });
                    }
                    // else {
                    //     grandChild.classList && grandChild.classList.contains('required') ? grandChild.classList.remove('required') : null;
                    // }
                });
            });
            return isValid;
        },
        onPreviousClick: (button) => {
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches
            let applicationId = sessionStorage.getItem("applicationId");
            if(animating) return false;
            animating = true;
            
            current_fs = button.target.closest('fieldset');
            previous_fs = button.target.closest('fieldset').previousElementSibling;
            
            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            
            console.log(`index: ${$("fieldset").index(previous_fs)}`);

            //show the previous fieldset
            $(previous_fs).show();

            //hide the current fieldset with style
            $(current_fs).animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1-now) * 50)+"%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    $('.footer').css('position','fixed');
                    $(current_fs).css({'left': left});
                    $(previous_fs).css({'transform': 'scale('+scale+')', 'opacity': opacity});
                }, 
                duration: 800, 
                complete: function(){
                    $(current_fs).hide();
                    animating = false;
                    $(previous_fs).removeAttr('style');
                    $('.footer').css('position','');
                }, 
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        },
        createOnFirstStep: (current_fs) => {
            let myJsonObject = {};
            myJsonObject = application.buildMyObject(current_fs, myJsonObject);
            myJsonObject['cmhc_OriginatorLenderContactId@odata.bind']  = `/contacts({{ user.id }})`;
            myJsonObject['cmhc_PrimaryBorrowerProponentId@odata.bind']  = `/cmhc_proponents(bd21d9db-9edd-eb11-bacb-000d3ae8bb2b)`;
            myJsonObject['cmhc_OriginatorLenderId@odata.bind']  = `/accounts(e8cf6fde-3e6e-eb11-a812-000d3af30d7f)`;
            console.log(JSON.stringify(myJsonObject));
            let operationType = 'POST';

            appAjax({
                type: operationType,
                url: `${urlApplications}`,
                contentType: "application/json",
                data: JSON.stringify(myJsonObject),
                success: (res, status, xhr) => {
                    sessionStorage.setItem('applicationId', `${xhr.getResponseHeader("entityid")}`);
                    utils.showToastr('Data saved');
                }
            })
        },
        updateOnNextSteps: (current_fs) => {
            let myJsonObject = {
                ava_applicationid: sessionStorage.getItem("applicationId")
            };
            myJsonObject = application.buildMyObject(current_fs, myJsonObject);
            
            let operationType = 'PATCH';

            appAjax({
                type: operationType,
                url: `${urlApplications}(${myJsonObject.ava_applicationid})`,
                contentType: "application/json",
                data: JSON.stringify(myJsonObject),
                success: (res, status, xhr) => {
                    console.log(`Entity ID: ${xhr.getResponseHeader("entityid")}`);
                    utils.showToastr('Data updated');
                }
            });
        },
        buildMyObject: (currentTab, myJsonObject) => {
            Object.keys(applicationFields).forEach((formKey) => {
                Object.keys(currentTab.elements).forEach((objectKey) => {
                    if (currentTab.elements[objectKey].name === formKey){
                        if (currentTab.elements[objectKey].value === '')
                            myJsonObject[applicationFields[formKey]] = null;
                        else {
                            if (currentTab.elements[objectKey].hasAttribute('decimal-type'))
                                myJsonObject[applicationFields[formKey]] = parseFloat(currentTab.elements[objectKey].value);
                            else 
                                myJsonObject[applicationFields[formKey]] = currentTab.elements[objectKey].value;
                        }
                    }
                })
            });
            return myJsonObject;
        },
    }
    application.init();
</script>