body {
    background-color: white;
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif !important;
  }
  hr.solid {
    border-top: 2px solid #bbb;
  }
  hr {
    margin-top: 7px;
    margin-bottom: 7px;
    border: 0;
    border-top: 1px solid #eee;
  }
  .navbar {
    min-height:60px;
  }
  .navbar-toggle {
    background-color: #003F63 !important;
  }
  .d-none{
    display: none !important;
  }
  .list-group {
    padding-left: 0;
    margin-bottom: 0px !important;
  }
  
  /* General Behavior */
  .dropdown-toggle {
    white-space: normal !important;
  }
  .float-right {
    float: right!important;
  }

  /* Font types */
  .mt-5, .my-5 {
    margin-top: 3rem!important;
  }
  .mt-2, .my-2 {
    margin-top: 5px!important;
  }
  .mr-3, .mx-3 {
    margin-right: 1rem!important;
  }
  .mt-3, .my-3 {
    margin-top: 1rem!important;
  }
  .mt-4, .my-4 {
    margin-top: 1.5rem!important;
  }
  .mr-3, .mx-3 {
    margin-right: 1rem!important;
  }
  .mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
  }
  .pb-2, .py-2 {
    padding-bottom: .5rem!important;
  }
  .pt-2, .py-2 {
    padding-top: .5rem!important;
  }
  .pt-2, .px-2 {
    padding-left: .5rem!important;
  }  
  .cmhc-page .cmhc-font-10 {
    font-size: 10px;
  }
  .cmhc-page .cmhc-font-12 {
    font-size: 12px;
  }
  .cmhc-page .cmhc-font-14 {
    font-size: 14px;
  }
  .cmhc-page .cmhc-font-16 {
    font-size: 16px;
  }
  .cmhc-page .cmhc-font-18 {
    font-size: 18px;
  }
  .cmhc-page .cmhc-font-20 {
    font-size: 20px;
  }
  .cmhc-page .cmhc-font-22 {
    font-size: 22px;
  }
  .cmhc-page .cmhc-font-24 {
    font-size: 24px;
  }
  .cmhc-page .cmhc-font-32 {
    font-size: 32px;
  }
  .cmhc-page .font-bold {
    font-weight: 600;
  }
  
  .navbar {
	  margin-bottom: 0px;
  }

/* for home page collapsible menus */
  /* details {
    user-select: none;
  } */
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }
  
  details[open] summary span.icon {
    transform: translateY(-50%) rotate(-180deg);
  }
  
  summary {
    display: flex;
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

/* Modal related */

/* .modal-content {
    display: grid;
}
  .modal-body {
    padding: 1rem !important;
  }
*/
  h5.modal-title{
    float: left;
    font-size: 1.0em;
    font-weight: bold;
  }

/* Generic for page */
  .cmhc-page {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cmhc-page p {
    font-size: 14px;
  }
  .cmhc-page a:hover {
    text-decoration: none !important;
  }
  .cmhc-page .link,
  .cmhc-page .cmhc-link {
    cursor: pointer;
    color: #719cca;
  }
  .cmhc-page .link:hover,
  .cmhc-page .cmhc-link:hover {
    color: #0056b3;
  }
  .cmhc-page > .container {
    min-height: 500px;
  }
  .cmhc-page ul {
    list-style: none;
    padding: 0px;
  }
  .cmhc-page .divider {
    height: 1px;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .cmhc-page .vertical-divider-right {
    border-right: 2px solid #e5e5e5;
  }
  .cmhc-page .vertical-divider-left {
    border-left: 2px solid #e5e5e5;
  }
  .form-control {
    font-size: 14px;
    margin-bottom: 5px;
  }
  /* Card related */
  .cmhc-page .card {
    border-radius: 3px;
    display: inline-block;
    height: 100%;
    width: 100%;
    /* -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.15); */
    margin-bottom: 10px;
  }
  .cmhc-page .card .list-group-item-header {
    height: 7px;
    background-color: #0069a5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .cmhc-page .card .list-group-item {
    padding: 1.25rem 2.25rem;
  }
  .cmhc-page .list-group-item {
    padding: 1rem 2.25rem;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* button related */
  .cmhc-page .btn {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 20px;
  }
  .cmhc-page .btn-default {
    border: 0px;
    color: #007DC5;
  }
  .cmhc-page .btn-outlined {
    color: #007DC5;
    border: 2px solid #007DC5;
    background-color: transparent;
  }
  /* labels */
  .cmhc-page .cmhc-label,.field-label {
    color: #373737;
    font-weight: bold;
    font-size: 14px;
  }
  .cmhc-page .cmhc-page-title {
    color: white;
    margin-bottom: 45px;
    font-size: 25px;
  }
  .cmhc-page .cmhc-page-subtitle {
    color: white;
    margin-bottom: 45px;
    font-size: 17px;
  }
  .cmhc-page .cmhc-account-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
  }
  .cmhc-page .backdrop {
    height: 90px;
    width: 100%;
    z-index: -1;
    background-color: #0069a5;
    position: absolute;
  }
  .cmhc-page .cmhc-panel {
    height: 100%;
  }
  .cmhc-page .cmhc-panel > div {
    height: 100%;
  }
  .general-information {
    color: darkgrey;
    display: contents;
    font-size: 11px;
    line-height: 15px;
    margin: 5px 0 0;
    text-align: center;
  }