@import '../../appStyles.scss';

.cssp-footer {
    padding: 35px 0px;
    color: white;
    background-color: $oceanBlueDarkColor;
    .cssp-footer-terms{
        color: black !important;
        padding: 10px !important;
    }

    a {
        color: white;
    }

    .wrapper {
        max-width: 300px;
    }
    .email-input {
        border-color: white;
        color: white;
        background-color: $oceanBlueDarkColor;
    }

    .column-header {
        margin-bottom: 15px;
    }
    .column-link {
        margin-bottom: 10px;
    }
    .icons-wrapper svg {
        height: 24px;
        width: 24px;
    }
}