@import "./templates_background.scss";

$lightGrayColor: #626365;

@mixin cssp-page {
  font-family: Helvetica, sans-serif;
}

@mixin btn {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 35px !important;
}

@mixin btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

@mixin btn-default {
  border: 0px;
  color: #0b5ed7;
}

#error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.cssp-template {
  font-family: Helvetica, sans-serif;

  ul {
    list-style: none;
    padding: 0px;
  }

  .attrEntry label,
  .entry-item label {
    margin-top: 1rem !important;
    font-size: 12px;
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .left-panel {
      width: 0px;
      left: 0px;
      width: 100%;
    }

    .right-panel {
      width: 0%;
    }
  }

  @media screen and (min-width: 769px) {
    .left-panel {
      width: 55%;
    }

    .right-panel {
      left: 55%;
      width: 45%;
    }
  }

  .left-panel,
  .right-panel {
    position: absolute;
    top: 0;
    height: 1010px;
  }

  .left-panel {
    left: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
  }

  .right-panel {
    background-image: $templatebg;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .cssp-page-title {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
  }

  .cssp-title-paragraph {
    margin-top: 10px;
  }

  .cssp-steps {
    color: $lightGrayColor;
  }

  .wrapper {
    background-color: #fff;
    width: 340px;
    padding: 0px 20px 0px 20px;
  }

  @media screen and (max-width: 280px) {
    .wrapper {
      background-color: #fff;
      width: 300px;
      padding: 0px 20px 0px 20px;
    }
  }

  .wrapper-img {
    margin-top: 55px;
  }

  .second-field,
  .entry-item {
    margin-top: 15px;
  }

  .buttons {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .error {
    font-style: italic;
    color: red;
  }

  .error p {
    margin: 0px;
  }

  .divider {
    height: 1px;
    margin: 25px 0px 9px 0px;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .verificationSuccessText {
    display: none;
  }

  #continue,
  #continue-clone,
  #next,
  button.sendCode,
  button.verifyCode,
  button.changeClaims,
  .btn-primary {
    @include btn;
    @include btn-primary();
    &:disabled {
      opacity: 0.65;
    }
  }

  #cancel,
  button.sendNewCode,
  .btn-default {
    @include btn;
    @include btn-default();
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
