@import '../../appStyles.scss';

/*
@font-face {
  font-family: HelveticaNeue;
  src: url("/helvetica-neue.ttc") format("truetype");
}
*/
body {
    background-color: white;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif !important;
}

.modal-body {
  padding: 0rem !important;
}

.dropdown-toggle {
  white-space: normal !important;
}

@media (max-width: 539px) {
  .dropdown-item {
    width: 85% !important;
    white-space: normal !important;
  }
  .dropdown-menu{
    width: 80% !important;
  }
}
.cssp-page {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (min-width: 1200px) {
        .container {
          max-width: 1020px;
        }
    }
    
    p {
        font-size: 14px;
    }
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
    .link,
    .cssp-link {
        cursor: pointer;
        color: $linkColor;
        &:hover {
            color: $linkHoverColor;
        }
    }

    > .container {
      min-height: 500px;
    }
    
    ul {
      list-style: none;
      padding: 0px;
    }

    .cssp-bold {
      font-weight: 700;
    }
    
    .cssp-font-10 {
      font-size: 10px;
    }
    .cssp-font-12 {
      font-size: 12px;
    }
    .cssp-font-14 {
      font-size: 14px;
    }
    .cssp-font-16 {
      font-size: 16px;
    }
    .cssp-font-18 {
      font-size: 18px;
    }
    .cssp-font-20 {
      font-size: 20px;
    }
    .cssp-font-22 {
      font-size: 22px;
    }
    .cssp-font-24 {
      font-size: 24px;
    }
    .cssp-font-32 {
      font-size: 32px;
    }
  
    .font-bold {
      @include font-bold;
    }
  
    .divider {
      height: 1px;
      overflow: hidden;
      background-color: $dividerColor;
    }
    .vertical-divider-right {
      border-right: 2px solid $dividerColor;
    }
    .vertical-divider-left {
      border-left: 2px solid $dividerColor;
    }
  
    .form-control {
      font-size: 14px;
      border-radius: 0px;
      margin-bottom: 5px;
    }
  
    .card {
      border-radius: 0px;
      display: inline-block;
      height: 100%;
      width: 100%;
      -webkit-box-shadow: 2px 2px 15px 6px rgba(0,0,0,0.15); 
      box-shadow: 2px 2px 15px 6px rgba(0,0,0,0.15);
      .list-group-item {
        padding: 1.25rem 2.25rem;
      }
    }
  
    .list-group-item {
      padding: 1rem 2.25rem;
    }
  
    .btn {
      padding: 10px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 20px;
      padding: 10px 20px;
    }
  
    .btn-default {
      border: 0px;
      color: $oceanBlueColor;
    }
  
    .btn-outlined {
      color: $oceanBlueColor;
      border: 2px solid $oceanBlueColor;
    }
  
    .cssp-label {
      color: $darkGrayColor;
      font-size: 14px;
    }

    .cssp-page-title {
        color: white;
        margin-bottom: 45px;
    }

    .cssp-account-wrapper {
        @include flexbox-right-center;
        color: white;
    }

    .backdrop {
        height: 250px;
        width: 100%;
        z-index: -1;
        background-color: $oceanBlueDarkColor;
        position: absolute;
    }
    
    .cssp-panel {
      > div {
        height: 100%;
      }
      height: 100%;
    }

    .paid-icon {
      height: 26px;
      width: 26px;
    }
    #cssp-paid-label,
    .paid-icon {
      color: slategrey;
    }
}