{% if billHeader %}
{%- fetchxml fetchLineHistories -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cssp_billlinehistory">
        <attribute name="cssp_billlinehistoryid" />
        <attribute name="cssp_name" />
        <attribute name="cssp_chargedescription" />
        <attribute name="cssp_chargeamount" />
        <attribute name="cssp_linenumber" />
        <order attribute="cssp_linenumber" descending="false" />
        <filter type="and">
            <condition attribute="cssp_billheader" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
            <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
        </filter>
    </entity>
</fetch>
{%- endfetchxml -%}
{%- fetchxml fetchLines -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cssp_billline">
        <attribute name="cssp_billlineid" />
        <attribute name="cssp_name" />
        <attribute name="cssp_chargedescription" />
        <attribute name="cssp_chargeamount" />
        <attribute name="cssp_linenumber" />
        <order attribute="cssp_linenumber" descending="false" />
        <filter type="and">
            <condition attribute="cssp_billheader" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
            <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
        </filter>
    </entity>
</fetch>
{%- endfetchxml -%}
{% endif %}
<div class="cssp-home cssp-web-component">
    <div id="first-panel">
        <div class="cssp-current-billing card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <app-locationpicker />
                </li>
                <li class="list-group-item">
                    <h3 class="font-bold cssp-font-22">Current Billing Statement</h3>
                    <div class="row mt-5 ">
                        <div class="col-3 small">
                            <div class="cssp-label">Amount</div>
                            <div class="cssp-font-20 mt-2">${{billHeader.cssp_amountdue | round: 2}}</div>
                        </div>
                        <div class="col-5">
                            <div class="cssp-label">Due date</div>
                            <div class="cssp-font-20 mt-2">{{billHeader.cssp_duedate | date: 'MMMM dd, yyyy'}}</div>
                        </div>
                        <div class="col-4">
                            <div id="cssp-paid-label" class="text-center mr-3 d-none">
                                <paid-icon></paid-icon><span class="ml-2">Paid</span>
                            </div>
                            {% if billHeader.cssp_amountdue == 0 %}
                            <div id="cssp-paid-label" class="text-center mr-3">
                                <paid-icon></paid-icon><span class="ml-2">No payment required</span>
                            </div>
                            {% else %}
                            <button id="cssp-paid-paynow-btn" class="btn btn-primary btn-block d-none"
                                onclick="CSSP.Common.payNow(event)">Pay now</button>
                            {% endif %}
                            <button class="btn btn-default btn-block btn-outlined mt-3"
                            onclick="CSSP.Common.openBillHeaderDetail(event)">View bill</button>
                        </div>
                    </div>
                    
                    {% if serviceLocation.cssp_paymentoptions.value != 685790000 || serviceLocation.cssp_paymentoptions.value != 685790002 %}
                    <div class="cssp-easypay-panel mt-4">
                        <div class="row">
                            <div class="col-8">
                                <div class="cssp-font-14 font-bold">Enroll in EasyPay today!</div>
                                <p class="cssp-font-12 mt-3">An easy and convenient way to pay your invoices. Once
                                    set you, your invoice amount will automatically be withdrawn from your bank account
                                    by the invoice due date.</p>
                            </div>
                            <div class="col-4 easypay-btn-wrapper">
                                <button class="btn btn-outlined btn-block px-1" onclick='CSSP.Common.updatePaymentOptions(event)'>Setup EasyPay</button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="cssp-easypay-panel mt-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="cssp-font-14 font-bold">Pre-Authorized Payment Plan!</div>
                                <p class="cssp-font-12 mt-3">You are on Pre-Authorized Payment Plan and are not required to send us any payment against the balance on your account.
                                    Your payment will be processed according to the terms of your pre-authorized payment agreement.
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% include 'PaymentOptionsModal' %}
                </li>
                <li class="list-group-item">
                    <h3 class="font-bold cssp-font-18 mb-4">Summary of Charges</h3>
                    <div class="cssp-font-14">
                        <h1 class="font-bold cssp-font-12 mb-4">Balance from previous bill</h1>
                        {% if fetchLineHistories.results.entities.size > 0 %}
                            {% for history in fetchLineHistories.results.entities %}
                            <div class="charge-row cssp-font-12 py-2">
                                <span>{{history.cssp_chargedescription}}&nbsp;</span>
                                <span class="charge-value float-right">$ {{history.cssp_chargeamount | round: 2}}</span>
                            </div>
                            <div class="divider"></div>
                            {% endfor %}
                        {% else %}
                        <div class="charge-row cssp-font-12 py-2">
                            <span>No balance from previous bill</span>
                            <span class="charge-value float-right">$ 0.00 </span>
                        </div>
                        <div class="divider"></div>
                        {% endif %}
                        <div>&nbsp;</div>
                        <h1 class="font-bold cssp-font-12 mb-4">New Charges</h1>
                        {% if fetchLines.results.entities.size > 0 %}
                            {% for line in fetchLines.results.entities %}
                            <div class="charge-row cssp-font-12 py-2">
                                <span>{{line.cssp_chargedescription}}&nbsp;</span>
                                <span class="charge-value float-right">$ {{line.cssp_chargeamount | round: 2}}</span>
                            </div>
                            <div class="divider"></div>
                            {% endfor %}
                        {% else %}
                        <div class="charge-row cssp-font-12 py-2">
                            <span>No new charges</span>
                            <span class="charge-value float-right">$ 0.00 </span>
                        </div>
                        <div class="divider"></div>
                        {% endif %}
                        <div class="charge-row cssp-font-12 cssp-bold py-2">
                            <span>Total</span>
                            <span class="charge-value float-right">$ {{billHeader.cssp_amountdue | round: 2}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="banner-panel">
        <div class="cssp-schedule-content">
            <p class="cssp-font-16 cssp-bold">Schedule online</p>
            <div>Quickly and easily schedule your heating/AC repair service, maintenance tune-up, or free equipment upgrade consultant online.</div>
            <div class="cssp-font-14 cssp-bold mt-3"><a href="https://www.serviceexperts.com/schedule-online" target="_blank">Schedule online &gt;</a></div>
        </div>
    </div>
    <div id="grid-wrapper"></div>
</div>