@import '../../appStyles.scss';

.cssp-home {
    #banner-panel {
        background: url(https://www.serviceexperts.com/corporate/images/HomeScheduleOnline_ACEimage_photography_ACE_8.21_SE_575x250.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .cssp-schedule-content{
        display: inline-block;
        width: 45%;
        height: 100%;
        padding: 50px 70px;
    }
    .cssp-easypay-panel {
        padding: 15px 20px; 
        background-color: $lightGrayColor;
        .easypay-btn-wrapper {
            @include flexbox-centered;
        }
    }
}