<style>
    .cssp-page .form-control {
        margin-bottom: 0px;
    }

    @media (max-width: 520px) {
        .input-group-addon{
            display:none;
        }
        #locations {
            width: 100%;
        }
    }

    .form-group {
        margin-bottom: 0px;
    }

</style>

<script type="module">
import { HttpService as Http } from "/http.js";
import { UserService } from "/UserService.js";

const currentLocation = UserService.getSelectedLocation();

function LocationPickerComponent() {
    const userDetails = UserService.getUserDetails();

    return (
        `<div class="form-group">
            <div class="cssp-label">Addresses</div>
            <select id="locations" class="form-control">
                ${
                    userDetails.account ?
                    userDetails.account.locations.map((x) => (
                        `<option class="dropdown-item link"
                            key=${'location-' + Date.now()}
                            value=${x.id}
                        >${x.name}</span>`
                    ))
                    :
                    null
                }
            </seclect>
        </div>`
    );
}

// Insert component on the page
const testPicker = document.querySelector('#test-location');
testPicker.insertAdjacentHTML('afterbegin', LocationPickerComponent());

// Pre-select the value set on the query parameter
const locationSelector = document.querySelector('#locations');
locationSelector.value = currentLocation.id;

// Add location id to the Navbar links
const links = document.querySelectorAll('.weblink a');
Object.values(links).map(link => {
    link.href = link.href + '?location=' + locationSelector.value;
});

// Add event listener to change the location
locationSelector.addEventListener('change', function () {
    const currentRoute = window.location.pathname.replace(/\/$/g, '');
    window.location.href = currentRoute + '?location=' + this.value;
});
</script>

<!-- Temporary -->
{%- fetchxml fetchLogo -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cssp_servicelocation">
        <attribute name="cssp_servicelocationid" />
        <attribute name="cssp_name" />
        <order attribute="cssp_name" descending="false" />
        <filter type="and">
            <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
            {% if {{params.location}} %}
            <condition attribute="cssp_servicelocationid" operator="eq" value="{{params.location}}" />
            {% else %}
            <condition attribute="cssp_servicelocationid" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
            {% endif %}
        </filter>
        <link-entity name="sxp_servicecenter" from="sxp_servicecenterid" to="cssp_servicecenterid" visible="false" link-type="outer" alias="sc">
            <attribute name="cssp_logourl" />
        </link-entity>
    </entity>
</fetch>
{%- endfetchxml -%}

{% if fetchLogo.results.entities.size > 0 %}
    {% assign logo = fetchLogo.results.entities[0] %}
{% else %}
    {% assign logo = null %}
{% endif %}
<!-- end temp -->

<script>
    var logoElement = document.querySelector('.imgLogo');
    logoElement.style.display = 'none';
    if ("{{logo['sc.cssp_logourl']}}") logoElement.src = "{{logo['sc.cssp_logourl']}}";
    else logoElement.src = "/logo"
    logoElement.style.display = 'block';
</script>