<style>
  /* #loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75) url(/spinner.gif) no-repeat center center;
    z-index: 10000;
  } */
  .toastr-success{ 
    background-color:darkcyan !important;
  } 

  legend {
    font-size: 12px!important;
  }
  .section tbody tr td div.control{
    clear: none !important;
    float: right;
  }
  .cssp-account{
    margin-bottom: 25px;
  }
  .cssp-account .tab-title,
  .cssp-account #UpdateButton {
    display: none;
  }
  .cssp-account .field-label {
    margin-top: 10px;
  }
  .cssp-account #profile-modal .modal-body {
    overflow-y: scroll;
    height: 305px;
  }
  
  .modal-form .modal-body iframe {
    padding: 0px 20px 0px 20px; 
    height: 300px;
  }

  .cssp-account #error-message {
    color: #504c4d;
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
  }
  .cssp-account .cssp-billing-options, .cssp-account .update-my-profile {
    padding: 0 10px 10px;
  }
  @media (max-width: 991px){
    .modal-form .modal-body iframe {
      height: 660px;
    }
    .cssp-account #profile-modal .modal-body {
      height: 665px;
    }
  }
  @media (max-width: 539px) {
    .cssp-account .cssp-button-account-options {
      padding-top: 10px !important;
      display: block;
      width: 100%;
    }
  }
  
  </style>{% assign notifications = '' %}
  
  {% if serviceLocation.cssp_billnotificationbyemail %}
    {% assign notifications = notifications | append: 'Email, ' %}
  {% endif %}
  {% if serviceLocation.cssp_billnotificationbytext %}
    {% assign notifications = notifications | append: 'Text, ' %}
  {% endif %}
  {% if serviceLocation.cssp_billnotificationbymail %}
    {% assign notifications = notifications | append: 'Mail, ' %}
  {% endif %}
  
  {% if notifications.size == 0 %}
    {% assign notifications = notifications | slice: 0, stringEnd %}
  {% else %}
    {% assign stringEnd = notifications.size | minus: 2 %}
    {% assign notifications = notifications | slice: 0, stringEnd %}
  {% endif %}
  
  {% assign isprimary = '' %}
  {% if serviceLocation.cssp_isprimary %}
    {% assign isprimary = isprimary | append: 'Yes' %}
  {% else %}
    {% assign isprimary = isprimary | append: 'No' %}
  {% endif %}
  {% assign isprimary = isprimary %}
  
  <div class="cssp-account cssp-web-component">
    <div class="row">
      <div class="col-sm-4">
        <div id="first-panel">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h3 class="font-bold cssp-font-22">Customer Profile</h3>
      
                <div class="cssp-label mt-4">Name</div>
                <div id="cssp-contact-name-label" class="cssp-font-data mt-2">{{contact['acc.name']}}&nbsp;</div>
      
                <div class="cssp-label mt-4">Mailing Address</div>
                <div id="cssp-contact-address-label" class="cssp-font-data mt-2">{{contact['acc.address2_composite']}}&nbsp;</div>
                
                <div class="cssp-label mt-4">Primary Phone</div>
                <div id="cssp-contact-phone-label" class="cssp-font-data mt-2">{{contact['acc.telephone1']}}&nbsp;</div>
                
                <div class="cssp-label mt-4">Email</div>
                <div id="cssp-contact-email-label" class="cssp-font-data mt-2">{{contact['acc.emailaddress1']}}&nbsp;</div>
                
                <button id="cssp-update-profile-btn" class="cssp-button-account-options btn-block btn btn-primary mt-4">Update profile</button>
                
                <button class="btn btn-block btn-default mt-3 chgPassword">Change Password</button>
      
                <section id="profile-modal" aria-hidden="true" class="modal fade modal-form modal-form-details" data-backdrop="static" role="dialod" taxindex="-1" style="display: none;">
                  <div class="modal-lg modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Update My Profile</h5>
                      </div>
                      <div class="modal-body">
                        <div class="form-loading" style="display: none;">
                          <span class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></span>
                        </div>
                        <iframe id="cssp-profile-iframe" class="profile-iframe" src="/api/?entityform=Account Portal" scrolling="no" style="z-index: 1"></iframe>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="saveProfile" class="btn btn-primary saveProfile">Save changes</button>
                        <button type="button" class="btn btn-default closeProfile">Close</button>
                      </div>
                      <!-- <div id="loader"></div> -->
                    </div>
                  </div>
                </section>
              </li>
            </ul>
          </div>
        </div>  
      </div>
      <div class="col-sm-8">
      <div id="second-panel">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {% include 'LocationPicker' %}
              <div id="test-location">
                
              </div>
            </li>
            <li class="list-group-item">
              <h3 class="font-bold cssp-font-22 mb-4">Billing Options</h3>
              <div class="row">
                <div class="col-sm-6">
                  <div class="cssp-label">Bill Delivery Method</div>
                  <div class="cssp-font-data mt-2">{% if serviceLocation.cssp_billdeliverymethod.label %} {{serviceLocation.cssp_billdeliverymethod.label}} {% else %} <div class="general-information">no selection</div> {% endif%}</div>
                </div>
                <div class="col-sm-6">
                  <div class="cssp-label">Bill Notifications</div>
                  <div class="cssp-font-data mt-2">{% if notifications != '' %} {{notifications}} {% else %} <div class="general-information">no selection</div> {% endif%}</div>
                </div>
                <div class="col-sm-6 mt-3">
                  <div class="cssp-label">Billing Cycle</div>
                  <div class="cssp-font-data mt-2">{% if serviceLocation.cssp_billdeliverytiming.label %} {{serviceLocation.cssp_billdeliverytiming.label}} {% else %} <div class="general-information">no selection</div> {% endif%}</div>
                </div>
                <div class="col-sm-6 mt-3">
                  <div class="cssp-label">Is address primary?</div>
                  <div class="cssp-font-data mt-2">{% if isprimary %} {{isprimary}} {% else %} <div class="general-information">no selection</div>{% endif%}</div>
                </div>
                <div class="col-sm-8 mt-3">
                  <button class="cssp-button-account-options btn btn-outlined location-options">Update billing options</button>
                    
                  <section id="billing-modal" aria-hidden="true" class="modal fade modal-form modal-form-details" data-backdrop="static" role="dialog" taxindex="-1" style="display: none;">
                    <div class="modal-md modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Update Billing Options</h5>
                        </div>
                        <div class="modal-body cssp-font-14">
                          <div class="form-loading">
                            <span class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></span>
                          </div>
                          <iframe id="cssp-billing-options-iframe" src="/api/?entityform=Billing Options&amp;location={{serviceLocation.cssp_servicelocationid}}" style="padding: 0px 20px 0px 20px; height: 350px" scrolling="no" style="display: none;"></iframe>
                          <div id="error-message" class="error-message" style="display: none; padding-left: 20px;">
                            <p style="text-align: center">You have to select at least one notification method.</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default CancelOptions">Close</button>
                          <button type="button" id="SaveBillingOptions" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="third-panel">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h3 class="font-bold cssp-font-22 mb-4">Payment Options</h3>
    
              <div class="row">
                <div class="col-sm-6">
                  {% if serviceLocation.cssp_customerpaymentmethod %}
                    <div class="cssp-label">EasyPay (Auto Payments)</div>
                    <div class="cssp-font-data mt-2 payment-option-label">{{ serviceLocation.cssp_customerpaymentmethod.name }}</div>
                  {% else %}
                  {% endif %}
                </div>
                {% if serviceLocation.cssp_customerpaymentmethod %}
                  {% if serviceLocation.cssp_customerpaymentmethod.name == "CreditCard" %}
                  <div class="col-sm-6">
                    <div class="cssp-label">Selected Payment Detail</div>
                    <div id="pmt-method-field" class="cssp-font-data mt-2">{{serviceLocation.cssp_paymentmethod}}&nbsp;</div>
                  </div>
                  {% elsif serviceLocation.cssp_customerpaymentmethod.name == "ACH" %}
                  <div class="col-sm-6">
                    <div class="cssp-label">Selected Payment Detail</div>
                    <div id="pmt-method-field" class="cssp-font-14 mt-2">Bank Account ID: {{serviceLocation.cssp_bankaccountnumber}}&nbsp;</div>
                  </div>
                  {% else %}
                  <div class="col-sm-6">
                    <div class="cssp-label">Selected Payment Detail</div>
                    <div id="pmt-method-field" class="cssp-font-14 mt-2"> --- </div>
                  </div>
                  {% endif %}
                {% else %}
                {% endif %}
                <div class="col-sm-8 mt-3">
                  <button class="cssp-button-account-options btn btn-outlined payment-options">Update payment options</button>
                  {% include 'PaymentOptionsModal' %}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div id="account-grid-wrapper"></div>
  </div>
   {% include 'Account Javascript' %}