@import '../../appStyles.scss';

.cssp-payments {
    .statements-information {
        color: darkgrey;
        display: contents;
        font-style: italic;
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0 0;
        text-align: center;
      }

    .list-group-item:nth-child(2) {
        padding: 0px;
        .cssp-wrapper {
            margin: 1.25rem 2.25rem;
        }
    }
    #cssp-paynow-btn {
        padding: 10px 50px;
    }
    .cssp-tab-header {
        cursor: pointer;
        @include tab-header;
    }

    #button-block{
        padding-top: 15px !important;
    }

    @media (max-width: 539px) {
        #button-block{
            padding-top: 15px !important;
        }

        thead th:not(:first-child) {
            display: none;
        }
    
        td, th {
            display: block;
        }
    
        td[data-th]:before  {
            content: attr(data-th);
        }

        td:first-child {
            font-weight: bold
        }
    
        .table-responsive {
            display: inline-table !important;
        }
        .table td, .table th {
            padding: 0.15rem !important;
            vertical-align: top  !important;
            border-top: 0px solid #dee2e6 !important;
        }
    }

    @media (min-width: 539px) {
        .table-responsive {
            display: inline-table;
        }
    }
}