{% assign notifications = '' %}

{% if serviceLocation.cssp_billnotificationbyemail %}
  {% assign notifications = notifications | append: 'Email, ' %}
{% endif %}
{% if serviceLocation.cssp_billnotificationbytext %}
  {% assign notifications = notifications | append: 'Text, ' %}
{% endif %}
{% if serviceLocation.cssp_billnotificationbymail %}
  {% assign notifications = notifications | append: 'Mail, ' %}
{% endif %}

{% if notifications.size == 0 %}
  {% assign notifications = notifications | slice: 0, stringEnd %}
{% else %}
  {% assign stringEnd = notifications.size | minus: 2 %}
  {% assign notifications = notifications | slice: 0, stringEnd %}
{% endif %}

{% assign isprimary = '' %}
{% if serviceLocation.cssp_isprimary %}
  {% assign isprimary = isprimary | append: 'Yes' %}
{% else %}
  {% assign isprimary = isprimary | append: 'No' %}
{% endif %}
{% assign isprimary = isprimary %}

<div class="cssp-account cssp-web-component">
  <div id="first-panel">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3 class="font-bold cssp-font-22">Customer Profile</h3>

          <div class="cssp-label mt-4">Name</div>
          <div id="cssp-contact-name-label" class="cssp-font-14 mt-2">{{contact['acc.name']}}&nbsp;</div>

          <div class="cssp-label mt-4">Mailing Address</div>
          <div id="cssp-contact-address-label" class="cssp-font-14 mt-2">{{contact['acc.address2_composite']}}&nbsp;</div>
          
          <div class="cssp-label mt-4">Primary Phone</div>
          <div id="cssp-contact-phone-label" class="cssp-font-14 mt-2">{{contact['acc.telephone1']}}&nbsp;</div>
          
          <div class="cssp-label mt-4">Email</div>
          <div id="cssp-contact-email-label" class="cssp-font-14 mt-2">{{contact['acc.emailaddress1']}}&nbsp;</div>
          
          <button id="cssp-update-profile-btn" class="cssp-button-account-options btn-block btn btn-primary mt-4"
          onclick="CSSP.Account.updateProfile(event)">Update profile</button>
          
          <button class="btn btn-block btn-default mt-3" onclick="CSSP.Account.changePassword()">Change Password</button>

          <div id="profile-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Update My Profile</h5>
                </div>
                <div class="modal-body">
                  <div class="update-my-profile">
                    <div>
                      <label class="field-label" for="cssp-profile-name">Name</label>
                      <input class="form-control" type="text" id="cssp-profile-name" disabled>
                    </div>
                    <div>
                      <label class="field-label" for="cssp-profile-address">Mailing Address</label>
                      <!-- <input class="form-control" type="text" id="cssp-profile-address"> -->
                      <input id="cssp-contact-line1-input" type="text" class="form-control" value="{{contact['acc.address2_line1']}}" placeholder="# Street">
                      <!-- <input id="cssp-contact-line2-input" type="text" class="form-control" value="{{contact.address1_line2}}" placeholder="Line 2"> -->
                      <input id="cssp-contact-city-input" type="text" class="form-control" value="{{contact['acc.address2_city}}" placeholder="City">
                      <input id="cssp-contact-state-input" type="text" class="form-control" value="{{contact['acc.address2_stateprovince}}" placeholder="State">
                      <input id="cssp-contact-zip-input" type="text" class="form-control" value="{{contact['acc.address2_postalcode}}" placeholder="Zip Code">
                      <input id="cssp-contact-country-input" type="text" class="form-control" value="{{contact['acc.address2_country}}" placeholder="Country">
                    </div>
                    <div>
                      <label class="field-label" for="cssp-profile-phone">Primary Phone</label>
                      <input class="form-control" type="text" id="cssp-profile-phone">
                    </div>
                    <div>
                      <label class="field-label" for="cssp-profile-email">Email address</label>
                      <input class="form-control" type="text" id="cssp-profile-email" disabled>
                    </div>
                  </div>
                  <iframe id="cssp-profile-iframe" class="d-none" src="/api/?entityform=Account Portal" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="CSSP.Account.saveProfile(event)">Save changes</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
  <div id="second-panel">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <app-locationpicker />
        </li>
        <li class="list-group-item">
          <h3 class="font-bold cssp-font-22 mb-4">Billing Options</h3>
          <div class="row">
            <div class="col-6">
              <div class="cssp-label">Bill Delivery Method</div>
              <div class="cssp-font-14 mt-2">{{serviceLocation.cssp_billdeliverymethod.label}}</div>
            </div>
            <div class="col-6">
              <div class="cssp-label">Bill Notifications</div>
              <div class="cssp-font-14 mt-2">{{notifications}}</div>
            </div>
            <div class="col-6 mt-3">
              <div class="cssp-label">Billing Cycle</div>
              <div class="cssp-font-14 mt-2">{{serviceLocation.cssp_billdeliverytiming.label}}</div>
            </div>
            <div class="col-6 mt-3">
              <div class="cssp-label">Is address primary?</div>
              <div class="cssp-font-14 mt-2">{{isprimary}}</div>
            </div>
            <div class="col-8 mt-3">
              <button class="cssp-button-account-options btn btn-outlined" onclick="CSSP.Account.updateLocationOptions(event)">Update location options</button>

              
              <div id="billing-modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Update Location Options</h5>
                    </div>
                    <div class="modal-body cssp-font-14">
                      <div class="cssp-billing-options">
                        <div class="row mt-3">
                          <div class="col-5">
                            Choose your preferred bill delivery method
                          </div>
                          <div class="col-7 cssp-delivery-method-wrapper">
  
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-5">
                            <div>
                              Select how you would like to receive your bill notifications
                            </div>
                            <div class="cssp-font-12 mt-2">
                              Text messages are sent to the mobile number saved in your account.
                            </div>
                          </div>
                          <div class="col-7 cssp-bill-notifications-wrapper">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="cssp-notification-email" onclick="CSSP.Account.validateNotificationSelected(event)">
                              <label class="form-check-label" for="flexCheckDefault">Notify by email</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="cssp-notification-text" onclick="CSSP.Account.validateNotificationSelected(event)">
                              <label class="form-check-label" for="flexCheckChecked">Notify by text</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="cssp-notification-mail" onclick="CSSP.Account.validateNotificationSelected(event)">
                              <label class="form-check-label" for="flexCheckChecked">Notify by mail</label>
                            </div>
                            <div id="error-message" class="d-none">You have to select at least one notification method.</div>
                          </div>
                        </div>
                        <div class="row my-3">
                          <div class="col-5">
                            Location is primary?
                          </div>
                          <div class="col-7 cssp-primary-wrapper">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="cssp-isprimary">
                              <label class="form-check-label" for="flexCheckDefault">Primary Address</label>
                            </div>
                          </div>
                        </div>
                        <div class="row" id="billingCycleChange-message" style="display:none;">
                          <div id="error-message">
                            This value cannot be changed.
                          </div>
                        </div>
                      </div>
                      <iframe id="cssp-billing-options-iframe" class="d-none" src="/api/?entityform=Billing Options&location={{serviceLocation.cssp_servicelocationid}}" frameborder="0"></iframe>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CSSP.Account.billingCycleChange()">Cancel</button>
                      <button type="button" id="SaveBillingOptions" class="btn btn-primary" onclick="CSSP.Account.saveBillingOptions(event)">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <h3 class="font-bold cssp-font-22 mb-4">Payment Options</h3>

          <div class="row">
            <div class="col-6">
              <div class="cssp-label">EasyPay (Auto Payments)</div>
              {% if serviceLocation.cssp_paymentoptions.value == 685790000 %}
              <div class="cssp-font-14 mt-2">Credit Card</div>
              {% elsif serviceLocation.cssp_paymentoptions.value == 685790001 %}
              <div class="cssp-font-14 mt-2">Manual</div>
              {% elsif serviceLocation.cssp_paymentoptions.value == 685790002 %}
              <div class="cssp-font-14 mt-2">ACH</div>
              {% else %}
              <div class="cssp-font-14 mt-2"> --- </div>
              {% endif %}
            </div>
            {% if serviceLocation.cssp_paymentoptions.value == 685790000 %}
            <div class="col-6">
              <div class="cssp-label">Payment Method</div>
              <div id="pmt-method-field" class="cssp-font-14 mt-2">{{serviceLocation.cssp_paymentmethod}}&nbsp;</div>
            </div>
            {% endif %}
            {% if serviceLocation.cssp_paymentoptions.value == 685790002 %}
            <div class="col-6">
              <div class="cssp-label">Payment Method</div>
              <div id="pmt-method-field" class="cssp-font-14 mt-2">Bank Account: {{serviceLocation.cssp_institutionnumber}}&nbsp;</div>
            </div>
            {% endif %}
            <div class="col-8 mt-3">
              <button class="cssp-button-account-options btn btn-outlined" onclick='CSSP.Common.updatePaymentOptions(event)'>Update payment options</button>
              {% include 'PaymentOptionsModal' %}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="account-grid-wrapper"></div>
</div>