<style>
  .cssp-pdf-icon {
    font-size: 15px !important;
  }
  
  .error-message-modal {
    color: #cc0033;
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
  }
  
</style>
{%- fetchxml fetchHeaders -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cssp_billheader">
        <attribute name="cssp_billheaderid" />
        <attribute name="createdon" />
        <attribute name="cssp_duedate" />
        <attribute name="cssp_amountdue" />
        <order attribute="createdon" descending="true" />
        <filter type="and">
            <condition attribute="cssp_billheaderid" operator="eq" value="{{params.billheaderid}}" />
            <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
        </filter>
    </entity>
</fetch>
{%- endfetchxml -%}

{% if fetchHeaders.results.entities.size > 0 %}
  {% assign billHeader = fetchHeaders.results.entities[0] %}
  
  {%- fetchxml fetchLineHistories -%}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="cssp_billlinehistory">
          <attribute name="cssp_billlinehistoryid" />
          <attribute name="cssp_name" />
          <attribute name="cssp_chargedescription" />
          <attribute name="cssp_chargeamount" />
          <attribute name="cssp_linenumber" />
          <order attribute="cssp_linenumber" descending="false" />
          <filter type="and">
              <condition attribute="cssp_billheader" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
              <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
          </filter>
      </entity>
  </fetch>
  {%- endfetchxml -%}
  {%- fetchxml fetchLines -%}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="cssp_billline">
          <attribute name="cssp_billlineid" />
          <attribute name="cssp_name" />
          <attribute name="cssp_chargedescription" />
          <attribute name="cssp_chargeamount" />
          <attribute name="cssp_linenumber" />
          <order attribute="cssp_linenumber" descending="false" />
          <filter type="and">
              <condition attribute="cssp_billheader" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
              <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
          </filter>
      </entity>
  </fetch>
  {%- endfetchxml -%}
{% endif %}

{%- fetchxml fetchAttachments -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false" top="1">
  <entity name="annotation">
    <attribute name="subject" />
    <attribute name="createdon" />
    <attribute name="annotationid" />
    <order attribute="createdon" descending="true" />
    <link-entity name="cssp_billheader" from="cssp_billheaderid" to="objectid" link-type="inner" alias="aa">
      <filter type="and">
        <condition attribute="cssp_billheaderid" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
      </filter>
    </link-entity>
  </entity>
</fetch>
{%- endfetchxml -%}

{% if fetchAttachments.results.entities.size > 0 %}
  {% assign note = fetchAttachments.results.entities[0] %}
{% else %}
  {% assign note = null %}
{% endif %}
  
<div id="cssp-bill-header-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Statement {{ request.host }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body cssp-font-14">
      
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            
            <div class="row">
              <div class="col-sm-4">
                  <div class="cssp-label">Amount</div>
                  <div class="cssp-font-20 mt-2">${{billHeader.cssp_amountdue | round: 2}}</div>
              </div>
              <div class="col-sm-5">
                  <div class="cssp-label">Due date</div>
                  <div class="cssp-font-20 mt-2">{{billHeader.cssp_duedate | date: 'MMMM dd, yyyy'}}</div>
              </div>
              <div class="col-sm-3">
                <button id="downloadFile" class="btn cssp-pdf-icon btn-default btn-outlined btn-block" note="{{note.subject}}"><i class="fa fa-download"></i> Download</button>
              </div>
          </div>
          </li>
          <li class="list-group-item">
              <h3 class="font-bold cssp-font-18 mb-4">Summary of Charges</h3>
              <div class="cssp-font-14">
                <h1 class="font-bold cssp-font-12 mb-4">Balance from previous bill</h1>
                  {% if fetchLineHistories.results.entities.size > 0 %}
                      {% for history in fetchLineHistories.results.entities %}
                      <div class="charge-row cssp-font-data py-2">
                          <span>{{history.cssp_chargedescription}}&nbsp;</span>
                          <span class="charge-value cssp-font-data float-right">$ {{history.cssp_chargeamount | round: 2}}</span>
                      </div>
                      <div class="divider"></div>
                      {% endfor %}
                      {% else %}
                      <div class="charge-row cssp-label py-2">
                          <span>No balance from previous bill</span>
                          <span class="charge-value cssp-font-data float-right">$ 0.00 </span>
                      </div>
                      <div class="divider"></div>
                  {% endif %}
                <h1 class="font-bold cssp-font-12 mb-4">New Charges</h1>
                  {% if fetchLines.results.entities.size > 0 %}
                      {% for line in fetchLines.results.entities %}
                      <div class="charge-row cssp-font-data py-2">
                          <span>{{line.cssp_chargedescription}}&nbsp;</span>
                          <span class="charge-value cssp-font-data float-right">$ {{line.cssp_chargeamount | round: 2}}</span>
                      </div>
                      <div class="divider"></div>
                      {% endfor %}
                      {% else %}
                      <div class="charge-row cssp-label py-2">
                          <span>No new charges</span>
                          <span class="charge-value cssp-font-data float-right">$ 0.00 </span>
                      </div>
                      <div class="divider"></div>
                  {% endif %}
                  <div class="charge-row cssp-bold py-2">
                      <span>Total</span>
                      <span class="charge-value float-right">$ {{billHeader.cssp_amountdue | round: 2}}</span>
                  </div>
              </div>
          </li>
        </ul>
      </div>
      <div id="statement-modal-footer" class="modal-footer" style="display: none;">
        <div class="error-message-modal">We are getting your file ready. Please wait a few more minutes!</div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import { LoadingService as Loading } from "/Loading.js";
  import { HttpService as Http } from "/http.js";
  import { UserService } from "/UserService.js";

  const BillHeaderModal = {
    
    openBillHeaderDetail: async (event, id) => {
      Loading.show();
      event.preventDefault();
      if (!id) {
          const userDetails = UserService.getUserDetails();
          if (!userDetails || !userDetails['bill-header']) return;
          id = userDetails['bill-header']['id'];
      }

      const modal = await Http.get('/apitemplates?template=BillHeaderDetailModal&billheaderid=' + id, "application/json; charset=utf-8")
      const body = document.querySelector('.cssp-page');
      
      body.insertAdjacentHTML('afterbegin', modal);
      Loading.hide();
      //@ts-ignore
      $('#cssp-bill-header-modal').modal('show');

      const modalBill = document.querySelector('#cssp-bill-header-modal');
      const downloadIcon = modalBill.querySelector('#downloadFile');
      downloadIcon.disabled = true;
      const buttonInnerHTML = downloadIcon.innerHTML;
      downloadIcon.innerHTML = '<i class="fa fa-spinner fa-spin"></i>&nbsp;Loading';


      // CUSTOM AZUREBLOB FILE DOWNLOAD
      const location = window.location.host;
      const getConfigURL = `https://${location}/_api/sxp_configurations?$select=sxp_entity,sxp_programtype,sxp_value&$filter=contains(sxp_name,'blob')`
      try {
          Http.get(getConfigURL, "application/json", null, null)
          .then(res => {
              const response = JSON.parse(res);
              const configs = response.value[0];

              downloadIcon.disabled = false;
              downloadIcon.innerHTML = buttonInnerHTML;

              downloadIcon.addEventListener('click', () => {
                BillHeaderModal.getBillStatement(
                  configs.sxp_entity,
                  configs.sxp_programtype,
                  configs.sxp_value,
                  //@ts-ignore
                  downloadIcon.attributes.note.value)
              });
          });
      }
      catch(err) {
          alert("Error loading file reference. Please contact support.");
      }

      // END CUSTOM AZUREBLOB FILE DOWNLOAD
    },
    getBillStatement: async (apiURL, blobServer, key , blobPath = null) => {
      Loading.show();

      // TODO
      // Get filename based on account Name, date and period
      const userDetails = UserService.getUserDetails();
      // END

      // TODO
      // Move this logic and variables in to a FLOW
      const fileLocation = `${blobPath}`;
      const response = await Http.postForPDF(apiURL,
      {
          "blobServer" : blobServer,
          "blobURL": fileLocation
      },
      {
          'Ocp-Apim-Subscription-Key': key,
          'Ocp-Apim-Trace': 'true'
      },
      false,
      true);

      if ((response).status === 404){
          Loading.hide();
          $('#statement-modal-footer').show();
      } else {
          $('#statement-modal-footer').hide();
          var newBlob = new Blob([response.body], {type: "application/octetstream"})

          const fileName = blobPath?.substring(12);

          const data = window.URL.createObjectURL(newBlob);
          var link = document.createElement('a');
          link.href = data;
          link.download = fileName || (new Date()).toString();
          link.target = '_blank';
          link.click();
          Loading.hide();
      }
    }
  }

  const viewBillBtn = document.querySelector('.viewBill');
  viewBillBtn? 
  viewBillBtn.addEventListener('click', (event) => {
    BillHeaderModal.openBillHeaderDetail(event, viewBillBtn.attributes.billid.textContent);
  }) : null;

  const statementLinks = document.querySelectorAll(".statements-link") ? document.querySelectorAll(".statements-link") : null ;
  statementLinks ? 
    statementLinks.forEach(link => {
      link.addEventListener('click', (event) => {
          BillHeaderModal.openBillHeaderDetail(event, link.attributes.rowid.textContent);
      });
    })
    : null;
</script>