@import '../../appStyles.scss';

@mixin logoDimensions {
}

.navbar {
    .nav-item {
        color: black !important;
        &.active {
            font-weight: 700;
        }
    }
}

.cssp-navbar {
    .cssp-logo{
        @include flexbox;
        margin: auto 0px;
        height: 80px;
        img {
            height: auto;
            width: 350px;
            object-fit: contain;
            object-position: -4px 0px;
            /* top: -80px; */
            /* bottom: -82px; */
            margin-top: 5px;
        }
    }
    
    .cssp-navigation-links {
        margin: 20px 0px;
        @include flexbox-right-center;
    }
    .cssp-navigation-link {
        @include tab-header;
    }
}

@media (max-width: 768px) {
    /* For mobile phones: */
    .cssp-navbar .cssp-logo img {
        height: 100px !important;
        margin-top: -30px !important;
    }
}

@media (max-width: 539px) {
    /* For mobile phones: */
    .imgLogo {
        height: 60px !important;
    }
}