doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CSSP - Sign in
    body
        div(id="api")
        each cssFile in htmlWebpackPlugin.files.css
            - var flag = cssFile.endsWith('SignIn.css')
            if flag
                style(title=cssFile) !{compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
        each jsFile in htmlWebpackPlugin.files.js
            - var flag = jsFile.endsWith('SignIn.js')
            if flag
                script !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}