<style>
  /*.cssp-payments .list-group-item:nth-child(2) {
    padding: 0px;
  }*/

  .cssp-payments{
    margin-bottom: 25px;
  }

  .cssp-payments .list-group-item:nth-child(2) .cssp-wrapper {
    margin: 1.25rem 2.25rem;
  }
  .cssp-payments #cssp-paynow-btn {
    padding: 10px 50px;
  }
  .easypay-enrolled{
    text-align: center !important;
  }
  .cssp-payments .cssp-tab{
    margin-top: 15px;
  }

  .cssp-payments .payment-amount-right{
    text-align: end;
  }

  .cssp-payments .cssp-tab-header {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 10px 15px 10px 15px;
  }
  .cssp-payments .cssp-tab-header.cssp-active-tab {
    font-weight: 600;
    padding: 10px 15px 7px 15px;
    border-bottom: 3px solid #007DC5;
  }
  .cssp-payments #button-block {
    padding-top: 15px !important;
  }
</style>
{%- fetchxml fetchStatements -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false" count="12">
  <entity name="cssp_billheader">
      <attribute name="cssp_billheaderid" />
      <attribute name="createdon" />
      <attribute name="cssp_duedate" />
      <attribute name="cssp_amountdue" />
      <order attribute="createdon" descending="true" />
      <filter type="and">
          <condition attribute="cssp_location" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
          <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
      </filter>
  </entity>
</fetch>
{%- endfetchxml -%}

{%- fetchxml fetchPayments -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="cssp_billpayment">
      <attribute name="cssp_billpaymentid" />
      <attribute name="createdon" />
      <attribute name="cssp_transamount" />
      <attribute name="cssp_transactiondate" />
      <attribute name="cssp_transtype" />
      <order attribute="createdon" descending="true" />
      <filter type="and">
          <condition attribute="cssp_servicelocation" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
          <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
      </filter>
  </entity>
</fetch>
{%- endfetchxml -%}
<div class="cssp-payments">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {% include 'LocationPicker' %}
        <div id="test-location">
          
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-4 vertical-divider-right">
            <div class="cssp-wrapper">
              <h3 class="font-bold cssp-font-22">Account Balance</h3>
              
              <div>
                <div class="cssp-label mt-4">Amount</div>
                <div class="cssp-font-data mt-2">${{billHeader.cssp_amountdue | round: 2}}</div>
              </div>
              <div>
                <div class="cssp-label mt-4">Due date</div>
                <div class="cssp-font-data mt-2">{{billHeader.cssp_duedate | date: 'MMMM dd, yyyy'}}</div>
              </div>
              
              <div id="cssp-paid-label" class="text-center mr-3 d-none">
                  <span class="glyphicon glyphicon-check mt-5">&nbsp;Paid</span>
              </div>
              <div id="button-block">
                {% include 'Paynow Button' %}
                {% if billHeader.cssp_billheaderid %}
                <button class="btn btn-default btn-block btn-outlined mt-3 viewBill" billid="{{billHeader.cssp_billheaderid}}">View latest bill</button>
                {% else %}
                <button class="btn btn-default btn-block btn-outlined mt-3" disabled billid="{{billHeader.cssp_billheaderid}}">View latest bill</button>
                {% endif %}
                <!-- <button class="btn btn-default btn-outlined btn-block mt-3">Payment Detail</button> -->
                {% if serviceLocation.cssp_customerpaymentmethod.name == "CreditCard" or serviceLocation.cssp_customerpaymentmethod.name == "ACH" %}
                  <div class="row mt-5">
                    <div class="col-sm-12">
                        {% include 'snippet' snippet_name:'Home/EasyPayEnrolled' %}
                    </div>
                  </div>
                {% else %}
                  <button class="btn btn-default btn-outlined btn-block mt-3 payment-options">Setup EasyPay</button>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-8">
            <div class="cssp-wrapper">
              <h3 class="font-bold cssp-font-22">Activity</h3>

              <div class="mt-4 mb-5">
                <span class="cssp-tab-header cssp-font-14" data-tab-header-id="1">Statements</span>
                <span class="cssp-tab-header cssp-font-14" data-tab-header-id="2">Payments</span>
              </div>
              <div class="cssp-tab" data-tab-id="1">
                
                <table class="table table-responsive table-striped table-sm">
                  <thead class="thead-light">
                    <tr class="cssp-label">
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col" class="payment-amount-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for row in fetchStatements.results.entities %}
                    <tr class="cssp-font-data">
                        <td>{{row['cssp_duedate'] | date: 'MMMM dd, yyyy'}}</td>
                        {% if row.cssp_billheaderid %}
                        <td><span class="cssp-link statements-link" rowid="{{row.cssp_billheaderid}}">Statement</span></td>
                        {% else %}
                        <td><span class="cssp-link" disabled rowid="{{row.cssp_billheaderid}}">Statement</span></td>
                        {% endif %}
                        <td class="payment-amount-right">${{row['cssp_amountdue'] | round: 2}}</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
                <div class="general-information">
                  <div>{% include 'snippet' snippet_name:'Payments/defaultMessage' | default:"Your statements" %}</div>
                </div>
              </div>
              <div class="cssp-tab" data-tab-id="2">
                <table class="table table-responsive table-striped table-sm">
                  <thead class="thead-light">
                    <tr class="cssp-label">
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col" class="payment-amount-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for row in fetchPayments.results.entities %}
                    <tr>
                        <td>{{row['cssp_transactiondate'] | date: 'MMMM dd, yyyy'}}</td>
                        <td>{{row['cssp_transtype']}}</td>
                        <td class="payment-amount-right">${{row['cssp_transamount'] | round: 2}}</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% include 'PaymentOptionsModal' %}
          {% include 'BillHeaderDetailModal' %}
        </div>
      </li>
    </ul>
  </div>
</div>
{% include 'Payment Javascript'%}