<style>
    .cssp-footer {
      display: none !important;
    }
    .navbar-header{ 
      display: none !important;
    }
    .navbar{
      display: none !important;
    }
    </style>
    {% if params["entityform"].size > 0 %}
        {% entityform name: params["entityform"] %}
    {% elsif params["template"].size > 0 %}
        {% capture command %}
            {%  include   params["template"]  %}
        {% endcapture %}
        {{command}}
    {% elsif params["snippet"].size > 0 %}
        {% assign content = snippets[params["snippet"]] %}
        {% if content %}
            {{ content }}
        {% else %}
            No snippet was found.
        {% endif %}
    {% elsif params["entitylist"].size > 0 %}
    {
    {% entitylist key: params["entitylist"] %}
      "id": "{{entitylist.id}}",
      "name": "{{entitylist.adx_name}}",
      "views": [
        {% if entitylist.views.size > 1 %}
          {% for view in entitylist.views -%}
        {
          "name": "{{view.name}}",
          "url": "{{ request.path | add_query:'view', view.id | h }}"
        }{% unless forloop.last %},{% endunless %}
          {% endfor -%}
      {% endif %}
      ],
      "search": {
        "enabled": {% if entitylist.search_enabled %}true{% else %}false{% endif %},
        "clear-url": "{{ request.path_and_query | remove_query:'search' | h }}",
        "term": "{{params.search}}",
        "placeholder": "{{entitylist.search_placeholder | default: 'Search'}}",
        "button": "{{entitylist.search_tooltip}}"
      },
      "create": {
        "enabled": {% if entitylist.create_enabled %}true{% else %}false{% endif %},
        "url": "{{entitylist.create_url}}",
        "label": "{{entitylist.create_label | default: 'Create'}}"
      },
      {% entityview id:params.view, search:params.search, order:params.order, page:params.page, pagesize:params.pagesize, metafilter:params.mf %}
        {% assign order = params.order | default: entityview.sort_expression %}
      "current-sort": "{{order}}",
      {% endentityview %}
      "columns": [
      {% entityview id:params.view, search:params.search, order:params.order, page:params.page, pagesize:params.pagesize, metafilter:params.mf %}
        {% assign order = params.order | default: entityview.sort_expression %}
        {% for c in entityview.columns -%}
      {
        "name": "{{c.name}}",
        "logical-name": "{{c.logical_name}}",
        "width": "{{c.width}}",
        
          {% if c.sort_enabled %}
        "order-enabled": true,
            {% assign current_sort = order | current_sort:c.logical_name %}
            {% case current_sort %}
            {% when 'ASC' %}
              {% assign url = request.path_and_query | add_query:'order', c.sort_descending %}
            {% when 'DESC' %}
              {% assign url = request.path_and_query | add_query:'order', c.sort_ascending %}
            {% else %}
              {% assign url = request.path_and_query | add_query:'order', c.sort_ascending %}
            {% endcase %}
        "url": "{{url}}"
          {% else %}
        "order-enabled": false
          {% endif %}
      }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      {% endentityview %}
      ],
      "records": [
      {% entityview id:params.view, search:params.search, order:params.order, page:params.page, pagesize:params.pagesize, metafilter:params.mf %}
        {% for e in entityview.records -%}
        {
          {% if entitylist.detail_enabled -%}
          "detail-url": "{{ entitylist.detail_url}}?{{ entitylist.detail_id_parameter }}={{ e.id }}",
          "detail-label": "{{ entitylist.detail_label }}"
          {% endif -%}
    
          {% for c in entityview.columns -%}
              "{{c.logical_name}}": 
            {% assign attr = e[c.logical_name] %}
            {% assign attr_type = c.attribute_type | downcase %}
    
            {% if attr.is_entity_reference -%}
              "{{ attr.name  | h }}"
            {% elsif attr_type == 'datetime' %}
              {% if attr %}
                "{{ attr | date_to_iso8601 }}"
              {% endif %}
            {% elsif attr_type == 'picklist' %}
              "{{ attr.label  | h }}"
            {% else %}
              "{{ attr  | h }}"
            {% endif -%}
            {% unless forloop.last %},{% endunless %}
          {% endfor -%}
        }{% unless forloop.last %},{% endunless %}
        {% endfor -%}
      {% endentityview %}
      ],
      "pages": {
      {% entityview id:params.view, search:params.search, order:params.order, page:params.page, pagesize:params.pagesize, metafilter:params.mf %}
        {% if entityview.pages.size > 0 %}
          "numbers": [
          {% for page in entityview.pages offset:page_offset limit:10 -%}
            {
              "active": {% if page == entityview.page %}true{% else %}false{% endif %},
              "page": {{page}},
              "url": "{{ request.url | add_query:'page', page | path_and_query  | h }}"
            }{% unless forloop.last %},{% endunless %}
          {% endfor -%}
          ],
    
          {% assign first_page = entityview.first_page %}
          {% assign last_page = entityview.last_page %}
          "first-url": 
          {% if first_page and entityview.page > 1 %}"{{ request.url | add_query:'page', first_page | path_and_query  | h }}"{% else %}""{% endif %},
          "previous-url":
          {% if entityview.previous_page %}"{{ request.url | add_query:'page', entityview.previous_page | path_and_query  | h }}"{%- else -%}""{% endif %},
          "next-url":
          {% if entityview.next_page %}"{{ request.url | add_query:'page', entityview.next_page | path_and_query  | h }}"{% else %}""{% endif %},
          "last-url": 
          {% if last_page and entityview.page < last_page %}"{{ request.url | add_query:'page', last_page | path_and_query  | h }}"{% else %}""{% endif %}
        {% endif %}
      {% endentityview %}
      }
    {% endentitylist %}
    }
    {% elsif params["entityview"].size > 0 %}
    {
      {% entityview id: params.entityview, page:params.page %}
      "entity_permission_denied": "{{entityview.entity_permission_denied}}",
      "entity_logical_name": "{{entityview.entity_logical_name}}",
      "first_page": "{{entityview.first_page}}",
      "Id": "{{entityview.Id}}",
      "language_code": "{{entityview.language_code}}",
      "last_page": "{{entityview.last_page}}",
      "name": "{{entityview.name}}",
      "next_page": "{{entityview.next_page}}",
      "Page": "{{entityview.Page}}",
      "page_size": "{{entityview.page_size}}",
      "previous_page": "{{entityview.previous_page}}",
      "primary_key_logical_name": "{{entityview.primary_key_logical_name}}",
      "sort_expression": "{{entityview.sort_expression}}",
      "total_pages": "{{entityview.total_pages}}",
      "total_records": "{{entityview.total_records}}",
      "records": [
        {% for record in entityview.records %}
        {
          {% for column in entityview.columns %}
          "{{column.Name}}": "{{record[column.logical_name]}}"{% unless forloop.last %},{% endunless %}
          {% endfor %}
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
      {% endentityview %}
    }
    {% elsif params["record-id"].size > 0 %}
    {{entities["esi_portalrequest"][params["record-id"]]["esi_createdrecordid"]}}
    {% endif %}