{% if request.params['id'] %} 
    {% assign applicationId = request.params['id'] %}
    {% fetchxml fetchApplications %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cmhc_pocapplication">
        <attribute name="createdon" />
        <attribute name="cmhc_taxrate" />
        <attribute name="cmhc_loanamount" />
        <attribute name="cmhc_applicationid" />
        <attribute name="cmhc_period" />
        <attribute name="cmhc_totalunits" />
        <attribute name="cmhc_totalbeds" />
        <attribute name="cmhc_name" />
        <order attribute="createdon" descending="true" />
        <filter type="and">
        <condition attribute="statecode" operator="eq" value="0" />
        <condition attribute="cmhc_pocapplicationid" operator="eq" value="{{ applicationId }}" />
        <condition attribute="cmhc_contactapplicant" operator="eq" uitype="contact" value="{{ user.id }}" />
        </filter>
    </entity>
    </fetch>
    {% endfetchxml %}
    {% if fetchApplications.results.entities.size >= 1 %}
        {% assign application = fetchApplications.results.entities[0] %}
    {% else %}
        {% assign application = null %}
    {% endif %}
{% endif %}

<style>
  /*custom font*/
  /* @import url(https://fonts.googleapis.com/css?family=Montserrat); */

  /*form styles*/
  #msform {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 0 20px 1px rgb(0 0 0 / 3%);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 100%;
            /* margin: 0 10%; */
            /*stacking fieldsets above each other*/
            position: relative;
        }

            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }

        #msform label {
            font-weight: normal;
        }

  #msform .fieldgroup {
    margin: 1.5rem 0;
    position: relative;
  }

  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #0056b3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

  #msform .action-button:hover,
  #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0056b3;
  }

  #msform .action-button-reset {
    width: 100px;
    background: #c5c5f1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

  #msform .action-button-reset:hover,
  #msform .action-button-reset:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
  }

  /*headings*/
  #msform .fs-title, .fs-subtitle, #progressbar, #progressbar li, button {
      text-align: center;
  }
</style>
<!-- <h1 style="text-align: center;">{{ snippets['Application/HeadTitle'] | default: "Start your application"  }}</h1>
<strong>{{ editable snippets['Application/TitleInstruction'] | default: "Click to continue" }}</strong><br>
{{ editable snippets['Application/DetailInstruction'] | default: 'When you are done filling up this form, click "continue" for the submit step in the process.'}}  -->

<!-- MultiStep Form -->
<div class="row">
  <div class="col-sm-12">
    <form id="msform">
      {% include 'Loading Spinner' %}
      <div id="loader">
          <span class="fa fa-spinner fa-spin" aria-hidden="true"></span> Processing...
      </div>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">Tell us something more about you</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group required">
              <label for="comments" class="control-label">Name</label>
              <input type="text" name="name" class="form-control" id="name"
                     aria-describedby="name" value="{{ application.cmhc_name }}" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group required">
              <label for="loanPurpose" class="control-label">Application Purpose</label>
              <select name="loanPurpose" class="form-control" id="loanPurpose" aria-describedby="loanPurpose">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group required">
                <label for="receiveddate" class="control-label">Received Date</label>
                <input type="date" class="form-control" name="receiveddate" id="receiveddate" aria-describedby="receiveddate" value='{{ application.cmhc_receiveddate | date: "yyyy-MM-dd" }}'>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group required">
                <label for="shelterModel" class="control-label">Shelter Model</label>
                <select name="shelterModel" class="form-control" id="shelterModel" aria-describedby="shelterModel">
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group required">
              <label for="totalunits" class="control-label">Total Units Submitted</label>
              <input type="text" name="totalunits" class="form-control" id="totalunits"
                    aria-describedby="totalunits" value="{{ application.cmhc_totalunits }}" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group required">
              <label for="totalbeds" class="control-label">Total Beds Submitted</label>
              <input type="text" name="totalbeds" class="form-control" id="totalbeds"
                    aria-describedby="totalbeds" value="{{ application.cmhc_totalbeds }}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group required">
                <label for="advanceType" class="control-label">Advance Type</label>
                <select name="advanceType" class="form-control" id="advanceType" aria-describedby="advanceType">
                </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group required">
              <label for="loanamount" class="control-label">Total Requested Loan</label>
              <input type="text" data-type="currency" name="loanamount" class="form-control" id="loanamount"
                    aria-describedby="loanamount" value="{{ application.cmhc_loanamount }}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group required">
                <label for="affordablerentalhousing" class="control-label">Afordable Rental Housing</label>
                <!-- <select name="affordablerentalhousing" class="form-control" id="affordablerentalhousing" aria-describedby="affordablerentalhousing">
                </select> -->
                <div class="control">
                  <div class="btn-group" data-toggle="buttons">
                    <label>
                        <input type="radio" id="affordablerentalhousing_0" name="affordablerentalhousing" value="1" /> Yes
                    </label> 
                    <label>
                        <input type="radio" id="affordablerentalhousing_1" name="affordablerentalhousing" value="0" /> No
                    </label>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="pager">
              <li><input type="button" name="reset" class="reset action-button-reset" value="Reset" /></li>
              <li><input type="button" name="next" class="submit action-button" value="Submit" /></li>
          </ul>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script type="module">
  import { utils as utils } from "/utils.js";
  
  var urlApplications = "/_api/cmhc_pocapplications";
  sessionStorage.setItem(
    "applicationId",
    "{{ application.ava_applicationid }}"
  );

  const applicationFields = {
    name: "cmhc_name",
    loanPurpose: "cmhc_loanpurpose",
    receiveddate: "cmhc_receiveddate",
    shelterModel:'cmhc_sheltermodel',
    totalunits: "cmhc_totalunits",
    totalbeds: "cmhc_totalbeds",
    advanceType:'cmhc_advancetype',
    loanamount: "cmhc_loanamount",
    affordablerentalhousing:'cmhc_isaffordablerentalhousing',
  };

  const shelterModel = {
    'Retirement Housing' : 0,
    'Shelter' : 758280000,
    'Single Room Occupancy' : 1,
    'Standard Rental Housing' : 2,
    'Student Housing':3,
    'Supportive Housing':4,
    'Transitional Housing':758280001,
  };

  const loanPurpose = {
    'Purchase' : 758280003,
    'Purchase with Improvements' : 758280008,
    'Refinance' : 758280005,
    'Top Up Financing' : 758280009,
    'Refinance Existing CMHC':758280010,
    'Refinance with Improvements':758280011,
    'RCFi - Conversion':758280012,
    'Construction Financing':758280001,
    'Completion Take-Out':758280004,
    'NHCF - New Construction':758280000,
    'NHCF - New Construction - Conversion':758280002,
    'NHCF - Repairs/Renewal':758280006,
    'NHCF - Repairs/Renewal - Conversion':758280007,
  };

  const advanceType = {
    '<=2' : 1,
    'Unlimited' : 2
  }

  const yesNo = {
    'Yes':true,
    'No': false
  }


  let eventsCurrency = ['keyup','blur'];
  let currencyFields = document.querySelectorAll('input[data-type="currency"]');
  eventsCurrency.forEach((event) => {
    currencyFields.forEach((field) => {
      field.addEventListener(event, (event) => {
        if (event.type === 'keyup') 
          utils.formatCurrency(event.currentTarget);
        if (event.type === 'blur')
          utils.formatCurrency(event.currentTarget, event.type);
      })
    })
  })

  const application = {
    init: () => {
      application.setupDropDowns(shelterModel, '#shelterModel', '{{ application.cmhc_sheltermodel.value }}');
      application.setupDropDowns(loanPurpose, '#loanPurpose', '{{ application.cmhc_loanpurpose.value }}');
      application.setupDropDowns(advanceType, '#advanceType', '{{ application.cmhc_advancetype.value }}');
      // application.setupTwoOptions(yesNo, '#affordableRentalHousing', '{{ application.cmhc_isaffordablerentalhousing }}');
      application.setupFormAnimation();

      // Create a call to open gates to acquire token and make future calls faster
      appAjax({
        type: "GET",
        url: "/_api/cmhc_pocapplications?$select=cmhc_name&$top=1",
        contentType: "application/json",
      });
    },
    setupDropDowns: (optionSetVar, element, dropDownValue) => {
      var selectedOption = parseInt(dropDownValue);
      let optionSetField = document.querySelector(element);
      Object.keys(optionSetVar).forEach((key) => {
        var option = document.createElement('option');
        if (selectedOption && optionSetVar[key] === selectedOption)
            option.selected = optionSetVar[key];
        option.value = optionSetVar[key];
        option.text = key;
        optionSetField.add(option);
      });

      if (dropDownValue === ''){
        optionSetField.selectedIndex = -1;
      }
    },
    setupFormAnimation: () => {
      var current_fs, reset_fs; //fieldsets
      let applicationId = sessionStorage.getItem("applicationId");

      $(".submit").click(function (event) {
        event.preventDefault();
        var fieldSetValid = true
        current_fs = document.querySelectorAll('.required');
        current_fs.forEach((child) => {
          child.childNodes.forEach((grandChild) => {
            if (grandChild && (grandChild.value === '')){
              grandChild.classList.toggle('shake');
              grandChild.classList.add('required');
              setTimeout(function() {
                grandChild.classList.toggle('shake');
              }, 300);
              fieldSetValid = false;
              grandChild.addEventListener('change', (grandChild) => {
                  grandChild.target.classList.remove('required');
              });

            }
            else {
              return;
            }
          });
        });

        current_fs = document.querySelector('fieldset');
        if (fieldSetValid){        
          if (applicationId === null || applicationId === "")
              application.createOnFirstStep(current_fs, applicationFields);
          else
              application.updateOnNextSteps(current_fs, applicationFields);
        }
        else {
          return;
        }
 
      });

      $(".reset").click(function () {
        // function to reset form
      });
    },
    createOnFirstStep: (current_fs, fieldset) => {
      utils.showHideSpinner(current_fs,true);
      let myJsonObject = {};
      myJsonObject = application.buildMyObject(current_fs,fieldset,myJsonObject);
      myJsonObject["cmhc_contactapplicant@odata.bind"] = `/contacts({{ user.id }})`;

      let operationType = "POST";

      appAjax({
        type: operationType,
        url: `${urlApplications}`,
        contentType: "application/json",
        data: JSON.stringify(myJsonObject),
        success: (res, status, xhr) => {
          // sessionStorage.setItem("applicationId",`${xhr.getResponseHeader("entityid")}`);
          utils.showHideSpinner(current_fs,false);
          utils.showToastr("Data saved");
        },
      });
    },
    updateOnNextSteps: (current_fs, fieldset) => {
      utils.showHideSpinner(current_fs,true);
      let myJsonObject = {
        ava_applicationid: sessionStorage.getItem("applicationId"),
      };
      myJsonObject = application.buildMyObject(current_fs,fieldset,myJsonObject);

      let operationType = "PATCH";

      appAjax({
        type: operationType,
        url: `${urlApplications}(${myJsonObject.ava_applicationid})`,
        contentType: "application/json",
        data: JSON.stringify(myJsonObject),
        success: (res, status, xhr) => {
          console.log(`Entity ID: ${xhr.getResponseHeader("entityid")}`);
          utils.showHideSpinner(current_fs,false);
          utils.showToastr("Data updated");
        },
      });
    },
    buildMyObject: (currentTab, fieldset, myJsonObject) => {
      Object.keys(fieldset).forEach((formKey) => {
        Object.keys(currentTab.elements).every((objectKey) => {
          if (currentTab.elements[objectKey].name === formKey) {
            if (currentTab.elements[objectKey].value.includes('$')) {
              myJsonObject[fieldset[formKey]] = currentTab.elements[objectKey].value.slice(1);
            }
            else {
              myJsonObject[fieldset[formKey]] = currentTab.elements[objectKey].value;
            }

            if (currentTab.elements[objectKey].type === 'radio') {
              if (currentTab.elements[objectKey].checked)
                myJsonObject[fieldset[formKey]] = true;
              else
                myJsonObject[fieldset[formKey]] = false;
            }
            return false;
          }
          else
            return true;
        });
      });
      return myJsonObject;
    },
  };
  application.init();
</script>
