<style>
.navbar .nav-item {
  color: black !important;
}
.navbar .nav-item.active {
  font-weight: 700;
}

.cssp-navbar .cssp-logo {
  display: flex;
  margin: auto 0px;
  height: 80px;
}
.cssp-navbar .cssp-logo img {
  height: auto;
  width: 350px;
  object-fit: contain;
  object-position: -4px 0px;
  /* top: -80px; */
  /* bottom: -82px; */
  margin-top: 5px;
}
.cssp-navbar .cssp-navigation-links {
  margin: 20px 0px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.cssp-navbar .cssp-navigation-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px 10px 15px;
}
.cssp-navbar .cssp-navigation-link.cssp-active-tab {
  font-weight: 600;
  padding: 10px 15px 7px 15px;
  border-bottom: 3px solid #007DC5;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .cssp-navbar .cssp-logo img {
    height: 100px !important;
    margin-top: -30px !important;
  }
}
@media (max-width: 539px) {
  /* For mobile phones: */
  .imgLogo {
    height: 60px !important;
  }
}

</style>
<div class="cssp-navbar cssp-web-component d-none d-md-block">
  <div class="container">

    <div class="row">
      <div class="col-3 cssp-logo">
        <img src="/logo" />
      </div>
      <div class="col-9">
        <div class="cssp-navigation-links">
          {% if user %}
          <a href="/{{request.query}}" class="cssp-navigation-link cssp-font-14">Home</a>
          <a href="/payments{{request.query}}" class="cssp-navigation-link cssp-font-14">Payments</a>
          <a href="/account{{request.query}}" class="cssp-navigation-link cssp-font-14">Account</a>
          <a href="/Account/Login/LogOff" class="cssp-navigation-link cssp-font-14">Sign Out</a>
          {% else %}
          <a href="" class="cssp-navigation-link cssp-font-14" onclick="CSSP.Common.signIn(event)">Sign In</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light d-flex d-md-none">
  <div class="navbar-brand cssp-logo">
    <img class="imgLogo" src="/logo" />
  </div>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarNavAltMarkup" style="justify-content: flex-end;">
    <div class="navbar-nav">
      {% if user %}
      <a href="/{{request.query}}" class="nav-item nav-link cssp-font-14">Home</a>
      <a href="/payments{{request.query}}" class="nav-item nav-link cssp-font-14">Payments</a>
      <a href="/account{{request.query}}" class="nav-item nav-link cssp-font-14">Account</a>
      <a href="/Account/Login/LogOff" class="nav-item nav-link cssp-font-14">Sign Out</a>
      {% else %}
      <a href="" class="nav-item nav-link" onclick="CSSP.Common.signIn(event)">Sign In</a>
      {% endif %}
    </div>
  </div>
</nav>