<style>
.cssp-payments .statements-information {
  color: darkgrey;
  display: contents;
  font-style: italic;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
  text-align: center;
}
.cssp-payments .list-group-item:nth-child(2) {
  padding: 0px;
}
.cssp-payments .list-group-item:nth-child(2) .cssp-wrapper {
  margin: 1.25rem 2.25rem;
}
.cssp-payments #cssp-paynow-btn {
  padding: 10px 50px;
}
.cssp-payments .cssp-tab-header {
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 10px 15px 10px 15px;
}
.cssp-payments .cssp-tab-header.cssp-active-tab {
  font-weight: 600;
  padding: 10px 15px 7px 15px;
  border-bottom: 3px solid #007DC5;
}
.cssp-payments #button-block {
  padding-top: 15px !important;
}
@media (max-width: 539px) {
  .cssp-payments #button-block {
    padding-top: 15px !important;
  }
  .cssp-payments thead th:not(:first-child) {
    display: none;
  }
  .cssp-payments td, .cssp-payments th {
    display: block;
  }
  .cssp-payments td[data-th]:before {
    content: attr(data-th);
  }
  .cssp-payments td:first-child {
    font-weight: bold;
  }
  .cssp-payments .table-responsive {
    display: inline-table !important;
  }
  .cssp-payments .table td, .cssp-payments .table th {
    padding: 0.15rem !important;
    vertical-align: top !important;
    border-top: 0px solid #dee2e6 !important;
  }
}
@media (min-width: 539px) {
  .cssp-payments .table-responsive {
    display: inline-table;
  }
}

</style>
{%- fetchxml fetchStatements -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false" count="12">
  <entity name="cssp_billheader">
      <attribute name="cssp_billheaderid" />
      <attribute name="createdon" />
      <attribute name="cssp_duedate" />
      <attribute name="cssp_amountdue" />
      <order attribute="createdon" descending="true" />
      <filter type="and">
          <condition attribute="cssp_location" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
          <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
      </filter>
  </entity>
</fetch>
{%- endfetchxml -%}

{%- fetchxml fetchPayments -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="cssp_billpayment">
      <attribute name="cssp_billpaymentid" />
      <attribute name="createdon" />
      <attribute name="cssp_transamount" />
      <attribute name="cssp_transactiondate" />
      <attribute name="cssp_transtype" />
      <order attribute="createdon" descending="true" />
      <link-entity name="cssp_billheader" from="cssp_billheaderid" to="cssp_billheader" link-type="inner" alias="aa">
        <filter type="and">
          <condition attribute="cssp_location" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
        </filter>
      </link-entity>
      <filter type="and">
          <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
      </filter>
  </entity>
</fetch>
{%- endfetchxml -%}
<div class="cssp-payments">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <app-locationpicker />
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-4 vertical-divider-right">
            <div class="cssp-wrapper">
              <h3 class="font-bold cssp-font-22">Account Balance</h3>
              
              <div>
                <div class="cssp-label mt-4">Amount</div>
                <div class="cssp-font-20 mt-2">${{billHeader.cssp_amountdue | round: 2}}</div>
              </div>
              <div>
                <div class="cssp-labe mt-4">Due date</div>
                <div class="cssp-font-20 mt-2">{{billHeader.cssp_duedate | date: 'MMMM dd, yyyy'}}</div>
              </div>
              
              <div id="cssp-paid-label" class="d-none ml-3 mt-5"><paid-icon></paid-icon><span class="ml-2">Paid</span></div>
              <div id="button-block">
                {% if billHeader.cssp_amountdue == 0 %}
                <div id="cssp-paid-label" class="text-center mr-3">
                    <paid-icon></paid-icon><span class="ml-2">No payment required</span>
                </div>
                {% else %}
                <button id="cssp-paid-paynow-btn" class="btn btn-primary btn-block d-none mt-5" onclick="CSSP.Common.payNow(event)">Pay now</button>
                {% endif %}
                <button class="btn btn-default btn-block btn-outlined mt-3" onclick="CSSP.Common.openBillHeaderDetail(event, '{{billHeader.cssp_billheaderid}}')">View latest bill</button>
                <!-- <button class="btn btn-default btn-outlined btn-block mt-3">Payment methods</button> -->
                {% if serviceLocation.cssp_paymentoptions.value != 685790000 || serviceLocation.cssp_paymentoptions.value != 685790002 %}
                  <button class="btn btn-default btn-outlined btn-block mt-3" onclick="CSSP.Common.updatePaymentOptions(event, 'payments')">Setup EasyPay</button>
                {% endif %}
              </div>
              {% include 'PaymentOptionsModal' %}
            </div>
          </div>
          <div class="col-sm-12 col-md-8">
            <div class="cssp-wrapper">
              <h3 class="font-bold cssp-font-22">Activity</h3>
              
              <div class="mt-4 mb-5">
                <span class="cssp-tab-header cssp-font-14" data-tab-header-id="1">Statements</span>
                <span class="cssp-tab-header cssp-font-14" data-tab-header-id="2">Payments</span>
              </div>
              <div class="cssp-tab" data-tab-id="1">
                
                <table class="table table-responsive table-striped table-sm">
                  <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for row in fetchStatements.results.entities %}
                    <tr>
                        <td>{{row['cssp_duedate'] | date: 'MMMM dd, yyyy'}}</td>
                        <td><span class="cssp-link" onclick="CSSP.Common.openBillHeaderDetail(event, '{{row.cssp_billheaderid}}')">Statement</span></td>
                        <td>${{row['cssp_amountdue'] | round: 2}}</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
                <div class="statements-information">
                  <div>Placeholder - statements page</div>
                </div>
              </div>
              <div class="cssp-tab" data-tab-id="2">
                
                <table class="table table-responsive table-striped table-sm">
                  <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for row in fetchPayments.results.entities %}
                    <tr>
                        <td>{{row['cssp_transactiondate'] | date: 'MMMM dd, yyyy'}}</td>
                        <td>{{row['cssp_transtype']}}</td>
                        <td>${{row['cssp_transamount'] | round: 2}}</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>