{%- fetchxml fetchHeaders -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="cssp_billheader">
        <attribute name="cssp_billheaderid" />
        <attribute name="createdon" />
        <attribute name="cssp_duedate" />
        <attribute name="cssp_amountdue" />
        <order attribute="createdon" descending="true" />
        <filter type="and">
            <condition attribute="cssp_billheaderid" operator="eq" value="{{params.billheaderid}}" />
            <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
        </filter>
    </entity>
</fetch>
{%- endfetchxml -%}

{% if fetchHeaders.results.entities.size > 0 %}
  {% assign billHeader = fetchHeaders.results.entities[0] %}
  
  {%- fetchxml fetchLineHistories -%}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="cssp_billlinehistory">
          <attribute name="cssp_billlinehistoryid" />
          <attribute name="cssp_name" />
          <attribute name="cssp_chargedescription" />
          <attribute name="cssp_chargeamount" />
          <attribute name="cssp_linenumber" />
          <order attribute="cssp_linenumber" descending="false" />
          <filter type="and">
              <condition attribute="cssp_billheader" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
              <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
          </filter>
      </entity>
  </fetch>
  {%- endfetchxml -%}
  {%- fetchxml fetchLines -%}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="cssp_billline">
          <attribute name="cssp_billlineid" />
          <attribute name="cssp_name" />
          <attribute name="cssp_chargedescription" />
          <attribute name="cssp_chargeamount" />
          <attribute name="cssp_linenumber" />
          <order attribute="cssp_linenumber" descending="false" />
          <filter type="and">
              <condition attribute="cssp_billheader" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
              <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
          </filter>
      </entity>
  </fetch>
  {%- endfetchxml -%}
{% endif %}

{%- fetchxml fetchAttachments -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false" top="1">
  <entity name="annotation">
    <attribute name="subject" />
    <attribute name="createdon" />
    <attribute name="annotationid" />
    <order attribute="createdon" descending="true" />
    <link-entity name="cssp_billheader" from="cssp_billheaderid" to="objectid" link-type="inner" alias="aa">
      <filter type="and">
        <condition attribute="cssp_billheaderid" operator="eq" value="{{billHeader.cssp_billheaderid}}" />
      </filter>
    </link-entity>
  </entity>
</fetch>
{%- endfetchxml -%}

{% if fetchAttachments.results.entities.size > 0 %}
  {% assign note = fetchAttachments.results.entities[0] %}
{% else %}
  {% assign note = null %}
{% endif %}


<div id="cssp-bill-header-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Statement {{ request.host }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CSSP.Common.closeBillHeaderDetail(event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body cssp-font-14">
      
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            
            <div class="row">
              <div class="col-4">
                  <div class="cssp-label">Amount</div>
                  <div class="cssp-font-20 mt-2">${{billHeader.cssp_amountdue | round: 2}}</div>
              </div>
              <div class="col-6">
                  <div class="cssp-label">Due date</div>
                  <div class="cssp-font-20 mt-2">{{billHeader.cssp_duedate | date: 'MMMM dd, yyyy'}}</div>
              </div>
              <div class="col-2">
                  <div id="downloadFile" class="text-center" style="cursor: pointer;" note="{{note.subject}}">
                    <pdf-icon class="cssp-pdf-icon" />
                </div>
              </div>
          </div>
          </li>
          <li class="list-group-item">
              <h3 class="font-bold cssp-font-18 mb-4">Summary of Charges</h3>

              <div class="cssp-font-14">
                <h1 class="font-bold cssp-font-12 mb-4">Balance from previous bill</h1>
                  {% if fetchLineHistories.results.entities.size > 0 %}
                      {% for history in fetchLineHistories.results.entities %}
                      <div class="charge-row cssp-font-12 py-2">
                          <span>{{history.cssp_chargedescription}}&nbsp;</span>
                          <span class="charge-value float-right">$ {{history.cssp_chargeamount | round: 2}}</span>
                      </div>
                      <div class="divider"></div>
                      {% endfor %}
                      {% else %}
                      <div class="charge-row cssp-font-12 py-2">
                          <span>No balance from previous bill</span>
                          <span class="charge-value float-right">$ 0.00 </span>
                      </div>
                      <div class="divider"></div>
                  {% endif %}
                <div>&nbsp;</div>
                <h1 class="font-bold cssp-font-12 mb-4">New Charges</h1>
                  {% if fetchLines.results.entities.size > 0 %}
                      {% for line in fetchLines.results.entities %}
                      <div class="charge-row cssp-font-12 py-2">
                          <span>{{line.cssp_chargedescription}}&nbsp;</span>
                          <span class="charge-value float-right">$ {{line.cssp_chargeamount | round: 2}}</span>
                      </div>
                      <div class="divider"></div>
                      {% endfor %}
                      {% else %}
                      <div class="charge-row cssp-font-12 py-2">
                          <span>No new charges</span>
                          <span class="charge-value float-right">$ 0.00 </span>
                      </div>
                      <div class="divider"></div>
                  {% endif %}
                  <div class="charge-row cssp-bold py-2">
                      <span>Total</span>
                      <span class="charge-value float-right">$ {{billHeader.cssp_amountdue | round: 2}}</span>
                  </div>
              </div>
          </li>
        </ul>
        <!-- <iframe id="cssp-billheader-file" src="/api/?entityform=notesTest&id=052dcc42-e257-ec11-8f8f-00224825d632" frameborder="0"></iframe> -->
      </div>
      <div id="statement-modal-footer" class="modal-footer" style="display: none;">
        <div class="error-message-modal">Could not locate file in the server. Please contact the support team.</div>
      </div>
    </div>
  </div>
</div>