@import '../../appStyles.scss';

#cssp-bill-header-modal {
}

.cssp-pdf-icon{
    height: 40px;
    width: 40px;
    color:red;
}

.error-message-modal {
    color: #cc0033;
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
  }