<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" type="text/javascript"></script>
{% if user %}
<!-- Contact Details -->
{%- fetchxml fetchContacts -%}
<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>
  <entity name='contact'>
    <attribute name='contactid' />
    <attribute name='firstname' />
    <attribute name='lastname' />
    <attribute name='fullname' />
    <attribute name='address1_composite' />
    <attribute name='address1_telephone1' />
    <attribute name='telephone2' />
    <attribute name='emailaddress1' />
    <filter type='and'>
      <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
      <condition attribute='statecode' operator='eq' value='0' />
      <condition attribute='contactid' operator='eq' value='{{user.id}}' />
    </filter>
    <link-entity name='account' from='accountid' to='parentcustomerid' link-type='inner' alias='acc'>
      <attribute name='accountid' />
      <attribute name='address2_composite' />
      <attribute name='emailaddress1' />
      <attribute name='telephone1' />
      <attribute name='accountnumber' />
      <attribute name='name' />
    </link-entity>
  </entity>
</fetch>
{%- endfetchxml -%}
{% if fetchContacts.results.entities.size > 0 %}
  {% assign contact = fetchContacts.results.entities[0] %}
{% else %}
  {% assign contact = null %}
{% endif %}

{%- fetchxml fetchConfigs -%}
<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>
  <entity name='sxp_configuration'>
    <attribute name='sxp_name' />
    <attribute name='sxp_value' />
    <filter type='or'>
      <condition attribute='sxp_name' operator='eq' value='X-API-KEY' />
      <condition attribute='sxp_name' operator='eq' value='RedMapleServiceUrl' />
      <condition attribute='sxp_name' operator='eq' value='RedMapleUiUrl' />
      <condition attribute='sxp_name' operator='eq' value='CallRedMaple' />
    </filter>
  </entity>
</fetch>
{%- endfetchxml -%}

{% capture contactPayload %}
{
  "id": "{{user.contactid}}",
  "firstname": "{{user.firstname}}",
  "lastname": "{{user.lastname}}",
  "fullname": "{{user.fullname}}",
  "address": "{{user.address1_composite | url_encode}}",
  "email": "{{user.emailaddress1}}",
  "phone": "{{user.address1_telephone1}}",
  "account": {
    "id": "{{contact['acc.accountid']}}",
    "number": "{{contact['acc.accountnumber']}}",
    "address": "{{contact['acc.address1_composite'] | url_encode}}",
    "name": "{{contact['acc.name']}}",
    "locations": [
    {%- fetchxml fetchLocations -%}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="cssp_servicelocation">
        <attribute name="cssp_servicelocationid" />
        <attribute name="cssp_name" />
        <attribute name="cssp_formatteddeliveryaddress" />
        <attribute name="createdon" />
        <attribute name="cssp_company" />
        <attribute name="cssp_customerpaymentmethod" />
        <attribute name="cssp_billingdate" />
        <attribute name="cssp_billdeliverytiming" />
        <attribute name="cssp_billdeliverymethod" />
        <attribute name="cssp_billnotification" />
        <attribute name="cssp_paymentmethod" />
        <attribute name="cssp_isprimary" />
        <attribute name="cssp_bankaccountnumber" />
        <attribute name="cssp_billnotificationbyemail" />
        <attribute name="cssp_billnotificationbytext" />
        <attribute name="cssp_billnotificationbymail" />
        <order attribute="createdon" descending="false" />
        <filter type="and">
          <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
          <condition attribute="cssp_account" operator="eq" value="{{contact['acc.accountid']}}" />
        </filter>
      </entity>
    </fetch>
    {%- endfetchxml -%}

    {% if fetchLocations.results.entities.size > 0 %}
      {% if params.location %}
        {% for row in fetchLocations.results.entities %}
          {% if row.cssp_servicelocationid == params.location %}
            {% assign serviceLocation = row %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign serviceLocation = fetchLocations.results.entities[0] %}
      {% endif %}
    {% endif %}

    {% for row in fetchLocations.results.entities %}
      {
        "id": "{{row['cssp_servicelocationid']}}",
        "name": "{{row['cssp_formatteddeliveryaddress']}}"
      }
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ]
    {% if serviceLocation %}
    ,"selected-location": "{{serviceLocation.cssp_servicelocationid}}"
    {% endif %}
  }

  {% for config in fetchConfigs.results.entities %}
    {% if config['sxp_name'] == 'X-API-KEY' %}
    ,"api-key": "{{config['sxp_value']}}"
    {% elsif config['sxp_name'] == 'RedMapleServiceUrl' %}
    ,"service-url": "{{config['sxp_value']}}"
    {% elsif config['sxp_name'] == 'RedMapleUiUrl' %}
    ,"ui-url": "{{config['sxp_value']}}"
    {% elsif config['sxp_name'] == 'CallRedMaple' %}
    ,"call-red-maple": "{{config['sxp_value']}}"
    {% endif %}
  {% endfor %}

  {%- fetchxml fetchHeaders -%}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="cssp_billheader">
          <attribute name="cssp_billheaderid" />
          <!-- <attribute name="cssp_invoiceid" /> -->
          <attribute name="createdon" />
          <attribute name="cssp_duedate" />
          <attribute name="cssp_amountdue" />
          <order attribute="createdon" descending="true" />
          <filter type="and">
              <!-- serviceLocation var set by the DefaultPage template -->
              <condition attribute="cssp_location" operator="eq" value="{{serviceLocation.cssp_servicelocationid}}" />
              <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss.sss" }}' />
          </filter>
      </entity>
  </fetch>
  {%- endfetchxml -%}
  {% if fetchHeaders.results.entities.size > 0 %}
    {% assign billHeader = fetchHeaders.results.entities[0] %}
    ,"bill-header": {
      "id": "{{billHeader['cssp_billheaderid']}}",
      "date": "{{billHeader['cssp_duedate']}}",
      "amount": "{{billHeader['cssp_amountdue']}}"
    }
  {% endif %}
}
{% endcapture %}

<!-- Settings -->
{%- fetchxml fetchB2CConfig -%}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="adx_sitesetting">
    <attribute name="adx_sitesettingid" />
    <attribute name="adx_name" />
    <attribute name="adx_value" />
    <order attribute="adx_name" descending="false" />
    <filter type="and">
      <condition attribute="adx_name" operator="eq" value="Authentication/OpenIdConnect/AAD-B2C_1/Authority" />
    </filter>
  </entity>
</fetch>
{%- endfetchxml -%}
{% if fetchB2CConfig.results.entities.size > 0 %}
  {% assign b2cAuthority = fetchB2CConfig.results.entities[0]['adx_value'] %}
{% else %}
  {% assign b2cAuthority = '' %}
{% endif %}

{% if user %}
<input type="hidden" id="signedin" value="true">
<input type="hidden" id="contactid" value="{{user.id}}">
<input type="hidden" id="contact-name" value="{{user.fullname}}">
<input type="hidden" id="contact-payload" value="{{contactPayload | url_encode | replace: '%20%20', '' | replace: '%0D', '' | replace: '%0A', ''}}">
{% else %}
<input type="hidden" id="signedin" value="false">
<input type="hidden" id="b2c-authority" value="{{b2cAuthority}}">
{% endif %}

<!-- Default studio template. Please do not modify -->
<div id="mainContent" class = "wrapper-body" role="main">
  <div class="cssp-page">
    <div class="backdrop"></div>
    <div class="container pb-5">
      <div class="container">
        <div class="col-sm-8 text-left">
          <h1 class="cssp-page-title font-bold mt-5">
            {% if page.adx_title == 'Home' %}
              Welcome{% if {{user.firstname}} %}, {{user.firstname}} {% else %}! {% endif %}
            {% else %}
              {{page.adx_title}}
            {% endif %}

          </h1>
        </div>
        <div class="col-sm-4 text-right mt-5 cssp-account-wrapper">
          <div class="cssp-font-12">
            {% if user %}
            <span class="font-bold">Account Number: </span> <span>{{contact['acc.accountnumber']}}</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% include 'Page Copy' %}
    </div>
  </div>
</div>
<script type="module">
  import { LoadingService as Loading } from "/Loading.js";
  import { HttpService as Http } from "/http.js";
  import { UserService } from "/UserService.js";
  window.addEventListener('load', (ev) => {
    Loading.start();
  });
</script>


{% else %}
<script>
location.href = '/account/login';
</script>
{% endif %}